<div id="code_search">
  <h2 class="text-normal">
    <svg height="24" class="octicon octicon-search" viewBox="0 0 16 16" version="1.1" width="24" aria-hidden="true"><path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"></path></svg>
      Vui lòng Click <a href="/tim-kiem">vào đây</a> để chuyển đến phiên bản tìm kiếm mới!
  </h2>
<!--   <form id="search_form" class="search_repos my-3" accept-charset="UTF-8" >
       <div class="TableObject search-form-fluid">
         <div class="TableObject-item TableObject-item--primary position-relative">
           <input aria-label="Nhập số điện thoại hoặc tên khách hàng, Enter để tìm..." autocapitalize="off" autocomplete="off" autofocus="" class="form-control input-block js-search-suggester-field js-navigation-enable input-lg" data-hotkey="s" name="q" placeholder="Nhập số điện thoại hoặc tên khách hàng, Enter để tìm..." spellcheck="false" type="text" style="height: 50px" ng-model="searchQuery.text" search-enter="search()" ng-change="resetSearch()">
         </div>
         <div class="TableObject-item">
           <button class="btn"  style="height: 50px" ng-click="search()">Tìm kiếm</button>
         </div>
       </div>
 </form>
 <div class="d-flex flex-justify-between border-bottom pb-3" ng-if="finishSearch">
    <h3>
      {{result.length > 0 ? 'Tìm thấy ' + result.length + ' đơn hàng cho chuỗi tìm kiếm "' + searchQuery.text + '"' : 'Không tìm thấy đơn hàng nào cho chuỗi tìm kiếm ' + searchQuery.text}}
    </h3>

</div>
<div ng-if="finishSearch" ng-include="'/src/navigation/pages/search/widgets/list.html'"></div>
</div> -->