doctype html
html(lang='en', ng-app='m_admin')
  head
    meta(charset='utf-8')
    |       
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |       
    meta(name='description', content='Introducing Lollipop, a sweet new take on Android.')
    |       
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
    |       
    title Wellcome to MEOVN
    |       
    link(rel='stylesheet', href='src/navigation/frameworks-f3552d2cdfd0.css')
    |       
    link(rel='stylesheet', href='src/navigation/github-5c258338a847.css')
  |    
  body(style='background: #2f363d')
    .container-xl.d-lg-flex.clearfix.p-md-2(style='max-width: 1440px;')
      article.col-lg-4.col-xl-3.m-3.m-md-2.anim-fade-in
        a.hover-grow.no-underline.d-flex.flex-column.flex-justify-end.position-relative.height-full.width-full.overflow-hidden.rounded-1.box-shadow-medium(href='/admin', target='_blank', data-ga-click='Explore, go to FiveThirtyEight, location:spotlight', style='background-color: #ffffff;')
          .position-absolute.top-0.right-0.bottom-0.left-0.overflow-hidden.text-center
            img.width-fit.mx-auto(src='/assets/images/navigation-admin.png', alt='A lightweight, purely text-based approach to recording your terminal sessions')
          |                
          .Spotlight-blur.position-relative.d-flex.flex-column.flex-justify-center.text-center.text-gray-dark.p-4.p-lg-5(style='background-color: #ffffff; background-color: rgba(255,255,255,.9);')
            h1.f1.text-normal.lh-condensed.mb-2 Trang qu&#x1EA3;n tr&#x1ECB;
            |                   
            p.f5.lh-condensed.mb-0
              | H&#x1EC7; th&#x1ED1;ng qu&#x1EA3;n l&yacute;
              svg.octicon.octicon-chevron-right.ml-1.v-align-middle(height='16', viewbox='0 0 8 16', version='1.1', width='8', aria-hidden='true')
                path(fill-rule='evenodd', d='M7.5 8l-5 5L1 11.5 4.75 8 1 4.5 2.5 3z')
      |          
      article.col-lg-4.col-xl-3.m-3.m-md-2.anim-fade-in
        a.hover-grow.no-underline.d-flex.flex-column.flex-justify-end.position-relative.height-full.overflow-hidden.rounded-1.box-shadow-medium(href='/sale', target='_blank', data-ga-click='Explore, go to asciinema/asciinema, location:spotlight', style='background-color: #1b0e27;')
          .position-absolute.top-0.right-0.bottom-0.left-0.overflow-hidden.text-center
            img.width-fit.mx-auto(src='/assets/images/navigation-sale.png', alt='A lightweight, purely text-based approach to recording your terminal sessions')
          |                
          .Spotlight.position-relative
            .Spotlight-text.position-relative.text-white.p-4.p-lg-5
              .h6.text-uppercase Trang b&aacute;n h&agrave;ng
              |                      
              h1.h2.lh-condensed.mb-1
                svg.octicon.octicon-repo.mr-1.v-align-middle(height='24', viewbox='0 0 12 16', version='1.1', width='18', aria-hidden='true')
                  path(fill-rule='evenodd', d='M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z')
                |                         
                span.text-normal
                |  / sale
              |                      
              p.f5.mb-0 H&#x1EC7; th&#x1ED1;ng b&aacute;n h&agrave;ng d&agrave;nh cho Telesales
            |                   
            .Spotlight-blur.position-absolute.top-0.right-0.bottom-0.left-0.rounded-1(style='background-color: #1b0e27;')
      |          
      article.col-lg-4.col-xl-3.m-3.m-md-2.anim-fade-in
        a.hover-grow.no-underline.d-flex.flex-column.flex-justify-end.position-relative.height-full.overflow-hidden.rounded-1.box-shadow-medium(href='/shipping', target='_blank', data-ga-click='Explore, go to photonstorm/phaser, location:spotlight', style='background-color: #100933;')
          .position-absolute.top-0.right-0.bottom-0.left-0.overflow-hidden.text-center
          |                
          .Spotlight.position-relative
            .Spotlight-text.position-relative.text-white.p-4.p-lg-5
              .h6.text-uppercase T&#x1EA1;o &dstrok;&#x1A1;n | &Dstrok;&oacute;ng h&agrave;ng
              |                      
              h1.h2.lh-condensed.mb-1
                svg.octicon.octicon-repo.mr-1.v-align-middle(height='24', viewbox='0 0 12 16', version='1.1', width='18', aria-hidden='true')
                  path(fill-rule='evenodd', d='M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z')
                |                         
                span.text-normal
                |  / shipping
              |                      
              p.f5.mb-0 &Dstrok;&oacute;ng h&agrave;ng | T&#x1EA1;o &dstrok;&#x1A1;n h&agrave;ng tr&ecirc;n GHN.
            |                   
            .Spotlight-blur.position-absolute.top-0.right-0.bottom-0.left-0.rounded-1(style='background-color: #100933;')
      |          
      article.col-lg-4.col-xl-3.m-3.m-md-2.anim-fade-in
        a.hover-grow.no-underline.d-flex.flex-column.flex-justify-end.position-relative.height-full.overflow-hidden.rounded-1.box-shadow-medium(href='/printing', target='_blank', data-ga-click='Explore, go to photonstorm/phaser, location:spotlight', style='background-color: #100933;')
          //
            <div class="position-absolute top-0 right-0 bottom-0 left-0 overflow-hidden text-center">
            <span style="margin-top:15px;margin-right:15px;color: #fff;float: right;">Chưa sẵn sàng</span>
            </div>
          .Spotlight.position-relative
            .Spotlight-text.position-relative.text-white.p-4.p-lg-5
              .h6.text-uppercase In &#x1EA5;n
              |                      
              h1.h2.lh-condensed.mb-1
                svg.octicon.octicon-repo.mr-1.v-align-middle(height='24', viewbox='0 0 12 16', version='1.1', width='18', aria-hidden='true')
                  path(fill-rule='evenodd', d='M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z')
                |                         
                span.text-normal
                |  / printing
              |                      
              p.f5.mb-0 In phi&#x1EBF;u GHN / phi&#x1EBF;u xu&#x1EA5;t kho h&agrave;ng lo&#x1EA1;t.
            |                   
            .Spotlight-blur.position-absolute.top-0.right-0.bottom-0.left-0.rounded-1(style='background-color: #100933;')
      |          
      article.col-lg-4.col-xl-3.m-3.m-md-2.anim-fade-in
        a.hover-grow.no-underline.d-flex.flex-column.flex-justify-end.position-relative.height-full.overflow-hidden.rounded-1.box-shadow-medium(href='/tracking', target='_blank', data-ga-click='Explore, go to photonstorm/phaser, location:spotlight', style='background-color: #100933;')
          .position-absolute.top-0.right-0.bottom-0.left-0.overflow-hidden.text-center
            span(style='margin-top:15px;margin-right:15px;color: #fff;float: right;') Ch&#x1B0;a s&#x1EB5;n s&agrave;ng
          |                
          .Spotlight.position-relative
            .Spotlight-text.position-relative.text-white.p-4.p-lg-5
              .h6.text-uppercase Tracking
              |                      
              h1.h2.lh-condensed.mb-1
                svg.octicon.octicon-repo.mr-1.v-align-middle(height='24', viewbox='0 0 12 16', version='1.1', width='18', aria-hidden='true')
                  path(fill-rule='evenodd', d='M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z')
                |                         
                span.text-normal
                |  / tracking
              |                      
              p.f5.mb-0 Tracking &dstrok;&#x1A1;n h&agrave;ng tr&ecirc;n Giao h&agrave;ng nhanh.
            |                   
            .Spotlight-blur.position-absolute.top-0.right-0.bottom-0.left-0.rounded-1(style='background-color: #100933;')
      |          
      .container.simple-search-page.one-half
        #code_search
          h2.text-normal
            svg.octicon.octicon-search(height='24', viewbox='0 0 16 16', version='1.1', width='24', aria-hidden='true')
              path(fill-rule='evenodd', d='M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z')
            |         Search more than 
            strong 82M
            |  repositories
          // '"`
          // </textarea></xmp>
          form#search_form.search_repos.my-3(action='/search', accept-charset='UTF-8', method='get')
            input(name='utf8', type='hidden', value='✓')
            |       
            .TableObject.search-form-fluid
              .TableObject-item.TableObject-item--primary.position-relative
                input.form-control.input-block.js-search-suggester-field.js-navigation-enable(aria-label='Search GitHub', autocapitalize='off', autocomplete='off', autofocus='', data-contents-url='/autocomplete/search', data-hotkey='s', name='q', placeholder='Search GitHub', spellcheck='false', type='text')
                |           
                .boxed-group.position-absolute.mt-1(style='z-index: 10')
                  .js-search-suggester.d-none.boxed-group-inner.rounded-1.px-0
                |           
                input(type='hidden', name='ref', value='simplesearch')
              |         
              .TableObject-item
                button.btn(type='submit') Search
          |     
          p
            strong ProTip!
            |       For an 
            a(href='/search/advanced') advanced search
            | , use some of our 
            button.btn-link(type='button', data-facebox-class='shortcuts', data-facebox='#search_cheatsheet_pane') prefixes
            | .
    |       
    h1(style='text-align: center;font-weight: 200;color: #fff') Wellcome to Meovn Team!
    |       
    h3(style='text-align: center;color: #fff') Vui l&ograve;ng l&#x1EF1;a ch&#x1ECD;n h&#x1EC7; th&#x1ED1;ng &dstrok;&#x1EC3; s&#x1EED; d&#x1EE5;ng.
