<!doctype html>
<html lang="en" ng-app="m_admin">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
    <title>[{{todayReport.successCount || 0}}] Quản trị - Meovn 4</title>
    <base href="/">

    <!-- Page styles -->
<!--     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
<!--     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
<!--     <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script> -->
    <link rel="stylesheet" href="src/admin/sass/framework.css">
    <link rel="stylesheet" href="src/admin/sass/styles.css">
    
    <link rel="stylesheet" href="/node_modules/angular-toastr/dist/angular-toastr.css">
    <!-- <link rel="stylesheet" href="/src/admin/sass/chosen.css"> -->
    <link rel="stylesheet" href="/src/admin/sass/admin-custom.css">
    <link rel="stylesheet" href="/src/admin/sass/chat-box.css">
    <link rel="stylesheet" href="/src/admin/sass/chat-box-custom.css">
    <link rel="stylesheet" href="/src/admin/sass/loader.css">
    <link rel="stylesheet" href="/src/admin/sass/ng-dialog-custom.css">
    <link rel="stylesheet" href="/node_modules/angularjs-datepicker/dist/angular-datepicker.min.css">
    <link rel="stylesheet" href="/assets/css/select2.min.css">
    <link rel="stylesheet" href="/node_modules/metrics-graphics/dist/metricsgraphics.css">
    <link rel="stylesheet" href="node_modules/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" href="node_modules/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="node_modules/angular-moment-picker/dist/angular-moment-picker.min.css">
    <link href="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/themes/material-ui.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/node_modules/angular-loading-bar/build/loading-bar.css"> -->
  </head>
  <body class="logged-in env-production page-dashboard">
    <div class="promote-banner" style="background: rgb(33, 157, 96);" ng-if="update_content">
      <span data-translate-inner="STR_NOTI_BANNER_1">
        Hệ thống vừa cập nhật thay đổi: <strong>{{update_content}}</strong>. Vui lòng reload (F5) lại trình duyệt để tiếp tục sử dụng.
      </span>
    </div>
    <!-- Header -->
    <div class="position-relative js-header-wrapper">
     <a href="#start-of-content" tabindex="1" class="bg-black text-white p-3 show-on-focus js-skip-to-content">Skip to content</a>
     <div class="page-loader">
          <div class="ytp-spinner" data-layer="4" style="position: fixed;height: 100%;display: block;z-index: 99999;top: 50%;" ng-if="!finishLoadFullData">
             <div>
                <div class="ytp-spinner-container">
                   <div class="ytp-spinner-rotator">
                      <div class="ytp-spinner-left">
                         <div class="ytp-spinner-circle"></div>
                      </div>
                      <div class="ytp-spinner-right">
                         <div class="ytp-spinner-circle"></div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="ytp-spinner-message" style="display: block;">
                  Loading data from server, please wait...
              </div>
          </div>
      </div>
     <div ng-include="'/src/admin/widgets/header.html'"></div>

  </div>
    <!-- /Header -->
    <div ui-view class="main-view"></div>
    <div class="Overlay js-box-overlay-container transition-in-out ng-scope" style="{{isShowOverlay && !position_left ? 'opacity:1;visibility: visible;' : 'opacity:0;visibility:hidden;';}}">
      <div class="Overlay-table-full bg-transparent-dark"></div>
    </div>
    <div scroll-to-top=""></div>

     <div id="ajax-error-message" class="ajax-error-message flash flash-error">
    <svg aria-hidden="true" class="octicon octicon-alert" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M8.865 1.52c-.18-.31-.51-.5-.87-.5s-.69.19-.87.5L.275 13.5c-.18.31-.18.69 0 1 .19.31.52.5.87.5h13.7c.36 0 .69-.19.86-.5.17-.31.18-.69.01-1L8.865 1.52zM8.995 13h-2v-2h2v2zm0-3h-2V6h2v4z"/></svg>
    <button type="button" class="flash-close js-ajax-error-dismiss" aria-label="Dismiss error">
      <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"/></svg>
    </button>
    You can't perform that action at this time.
  </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/node_modules/slick-carousel/slick/slick.js"></script>
    <!-- <script src="/assets/js/chosen.jquery.min.js"></script>
    <script src="/assets/js/chosen.proto.min.js"></script> -->
    <script src="/node_modules/d3/dist/d3.min.js"></script>
    <script src="/node_modules/metrics-graphics/dist/metricsgraphics.min.js"></script>
    

    <script src="/assets/js/select2.min.js"></script>

    <script src="/assets/js/scripts-angular.min.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="/node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="/node_modules/angular-route/angular-route.min.js"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/node_modules/angular-sanitize/angular-sanitize.min.js"></script>

  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyD7LUAvgwADpNZqzvm_-4Um7aBMXh7Ed1M",
      authDomain: "meo4-f0335.firebaseapp.com",
      databaseURL: "https://meo4-f0335.firebaseio.com",
      projectId: "meo4-f0335",
      storageBucket: "meo4-f0335.appspot.com",
      messagingSenderId: "155610084230"
    };
    firebase.initializeApp(config);
  </script>
  <!-- AngularFire -->
  <script src="/assets/js/angularfire.min.js"></script>
  <script src="/node_modules/ng-csv/build/ng-csv.js"></script>
  
  <!-- <script src="/assets/js/infinite-scroll.min.js"></script> -->

  <!-- <script src="/node_modules/angular-chosen-localytics/dist/angular-chosen.js"></script> -->


  <!-- inject:js -->
  <script src="/assets/js/angular-slick.js"></script>
  <script src="/assets/js/angular-spinners.js"></script>
  <script src="/src/modules/mGHN.js"></script>
  <script src="/src/modules/mFirebase.js"></script>
  <script src="/src/modules/mFacebook.js"></script>
  <script src="/src/modules/mUtilities.js"></script>
  <script src="/src/modules/metrics-graphics.js"></script>
  <script src="/node_modules/phone-validate-vn/build/chotot.validators.phone.min.js"></script>
  <script src="/node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
  <script src="/node_modules/angular-filter/dist/angular-filter.min.js"></script>
  <script src="/node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <script src="/node_modules/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
  <script src="/node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
  <script src="/node_modules/angular-facebook/angular-facebook.js"></script>
  <script src="/node_modules/ng-dialog/js/ngDialog.min.js"></script>
  <script src="/node_modules/ng-infinite-scroll/build/ng-infinite-scroll.min.js"></script>
  <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
  <script src="/node_modules/angular-moment/angular-moment.min.js"></script>
  <script src="/node_modules/angular-moment-picker/dist/angular-moment-picker.min.js"></script>
  <script src="/src/admin/app/app.js"></script>
  <script src="/src/admin/service/firebase.service.js"></script>
  <script src="/src/admin/service/facebook.service.js"></script>
  <script src="/src/admin/service/firebase.storage.service.js"></script>
  <script src="/src/admin/controller/MainCtrl.js"></script>
  <script src="/src/admin/pages/dashboard/dashboard.module.js"></script>
  <script src="/src/admin/pages/dashboard/DashboardCtrl.js"></script>
  <script src="/src/admin/pages/dashboard/general/GeneralCtrl.js"></script>
  <script src="/src/admin/pages/dashboard/realtime/RealtimeCtrl.js"></script>
  <script src="/src/admin/pages/mix/mix.module.js"></script>
  <script src="/src/admin/pages/mix/MixCtrl.js"></script>
  <script src="/src/admin/pages/report/report.module.js"></script>
  <script src="/src/admin/pages/settings/settings.module.js"></script>
  <script src="/src/admin/pages/settings/OptionsCtrl.js"></script>
  <script src="/src/admin/pages/settings/ghn/GHNCtrl.js"></script>
  <script src="/src/admin/pages/settings/replies/QuickReplyCtrl.js"></script>
  <script src="/src/admin/pages/sources/sources.module.js"></script>
  <script src="/src/admin/pages/sources/pages/SourcePageCtrl.js"></script>
  <script src="/src/admin/pages/sources/upload/UploadCtrl.js"></script>
  <script src="/src/admin/pages/orders/orders.module.js"></script>
  <script src="/src/admin/pages/orders/orders.directive.js"></script>
  <script src="/src/admin/pages/orders/OrdersCtrl.js"></script>
  <script src="/src/admin/pages/orders/list/ListOrderCtrl.js"></script>
  <script src="/src/admin/pages/orders/push/PushOrderCtrl.js"></script>
  <script src="/src/admin/pages/orders/create/CreateOrderCtrl.js"></script>
  <script src="/src/admin/pages/orders/create/CreateOrderByCommentCtrl.js"></script>
  <!-- endinject -->

<script src="/assets/js/frameworks-f6afcaeac971138fed77bef35a12efac982cf10f6d34190912b7307946f14c8b.js"></script>
<!-- <script type="text/javascript" src="https://assets-cdn.github.com/assets/github-0bf824ad9b5c44a4ba98c8d86ede76a76d1bf24675f586cb61210f717b420cbe.js"></script> -->
<!-- <script src="https://unpkg.com/frappe-charts@0.0.8/dist/frappe-charts.min.iife.js"></script> -->


  </body>
</html>
