<div class="row_col_right">
   <div class="header_col_right">
      <div class="a_left">
         <span class="arow_show_sidebar open_list_chat"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></span>
         <span class="f_name"><a class="replace_chat_name" href="//facebook.com/{{activeOrder.customer_id}}" target="_blank">{{activeOrder.customer_name}}</a>
            <!-- <strong class="Counter pt-1 pb-1 pl-2 pr-2" style="color:#79589F;font-size: 14px;font-weight: 500;">{{getStatusById(activeStatusId).name}}</strong> -->
         </span>
         <div class="f_profile"></div>
      </div>
      <div class="a_right" ng-if="statuses.length>0">
         <div style="display: inline-block;">
            <div class="float-right">
               <div class="BtnGroup">
                  <a ng-repeat="status in statuses track by $index" class="btn btn-default btn-sm btn-outline BtnGroup-item  dropdown-details details-reset status-bar" ng-if="status.active==1 && status.id!==6" ng-click="changeStatus(status)">
                     <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 40 40" name="circle" style="vertical-align: text-bottom; color: {{status.color}}; font-size: 14px; margin-left: 2px; margin-right: 0px; line-height: 24px;">
                        <g>
                           <path d="m37.3 20q0 4.7-2.3 8.6t-6.3 6.2-8.6 2.3-8.6-2.3-6.2-6.2-2.3-8.6 2.3-8.6 6.2-6.2 8.6-2.3 8.6 2.3 6.3 6.2 2.3 8.6z"></path>
                        </g>
                     </svg>
                     {{status.name}}
                  </a>
               </div>
               <details class="get-repo-select-menu js-menu-container float-right position-relative dropdown-details details-reset file-navigation">
                  <summary class="btn btn-default btn-sm btn-primary btn-purple btn-square last" style="line-height: 20px">
                     Chốt
                     <span class="dropdown-caret"></span>
                  </summary>
                  <div class="position-relative" style="line-height: 20px;height: 500px">
                     <div class="get-repo-modal dropdown-menu dropdown-menu-sw pb-0 js-toggler-container ">
                        <div class="clone-options https-clone-options" ng-if="activeStatusId!==6">
                           <!-- '"` --><!-- </textarea></xmp> -->
                           <div>
                              <div class="orderData" style="max-height: 450px;overflow-y: auto;overflow-x: hidden;margin-right: -15px">
                                 <div style="padding-right: 15px;padding-left: 5px">
                                    </h4>
                                    <div style="display: block;">
                                       <nav class="UnderlineNav"  style="float: none;clear: both;">
                                          <div class="UnderlineNav-body">
                                             <a role="tab" title="Item 1" class="UnderlineNav-item pl-0 pb-1 selected">
                                                <svg height="16" class="octicon octicon-person" viewBox="0 0 12 16" version="1.1" width="14" aria-hidden="true">
                                                   <path fill-rule="evenodd" d="M12 14.002a.998.998 0 0 1-.998.998H1.001A1 1 0 0 1 0 13.999V13c0-2.633 4-4 4-4s.229-.409 0-1c-.841-.62-.944-1.59-1-4 .173-2.413 1.867-3 3-3s2.827.586 3 3c-.056 2.41-.159 3.38-1 4-.229.59 0 1 0 1s4 1.367 4 4v1.002z"></path>
                                                </svg>
                                                Khách hàng
                                             </a>
                                          </div>
                                          <div class="UnderlineNav-actions">
                                             <span class="tooltipped tooltipped-sw tooltipped-no-delay" aria-label="Thông tin về khách hàng">
                                                <svg aria-hidden="true" class="octicon octicon-question" height="16" version="1.1" viewBox="0 0 14 16" width="14">
                                                   <path fill-rule="evenodd" d="M6 10h2v2H6v-2zm4-3.5C10 8.64 8 9 8 9H6c0-.55.45-1 1-1h.5c.28 0 .5-.22.5-.5v-1c0-.28-.22-.5-.5-.5h-1c-.28 0-.5.22-.5.5V7H4c0-1.5 1.5-3 3-3s3 1 3 2.5zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"></path>
                                                </svg>
                                             </span>
                                          </div>
                                       </nav>
                                       <div style="display: flex;">
                                          <dl class="form-group">
                                             <div class="one-third column pr-0 pl-0">
                                                <div class="">
                                                   <dt><label>Tên khách hàng</label></dt>
                                                   <input type="text" class="form-control input-sm" id="example-text" placeholder="Nhập tên khách" ng-model="customerData.realName">
                                                </div>
                                             </div>
                                             <div class="two-thirds column pr-0 pl-0">
                                                <div class="two-thirds column">
                                                   <dt><label>Số điện thoại</label></dt>
                                                   <input type="text" class="form-control input-sm" title="Chỉ thêm nếu khách cho số điện thoại khác" id="example-text" placeholder="Số điện thoại nhận hàng"  ng-model="customerData.recievedPhone">
                                                </div>
                                                <div class="one-third column pl-0">
                                                   <dt><label>Năm sinh</label></dt>
                                                   <input type="text" class="form-control input-sm" id="example-text" placeholder="Năm sinh"  ng-model="customerData.birthDay">
                                                </div>
                                             </div>
                                          </dl>
                                       </div>
                                       <dl class="form-group">
                                          <div class="two-thirds column pl-0">
                                             <dt><label>Địa chỉ nhận hàng</label></dt>
                                             <input type="text" class="form-control input-sm" id="example-text" placeholder="Địa chỉ" ng-model="customerData.addresss">
                                          </div>
                                          <div class="one-third column pr-0 pl-0">
                                             <dt><label>Giá trị đơn hàng</label></dt>
                                             <input type="number" class="form-control input-sm" id="example-text" placeholder="Nhập số tiền"  ng-model="customerData.cod">
                                          </div>
                                       </dl>
                                    </div>
                                    <div style="display: block;">
                                       <nav class="UnderlineNav"  style="float: none;clear: both;">
                                          <div class="UnderlineNav-body">
                                             <a role="tab" title="Item 1" class="UnderlineNav-item pl-0 pb-1 selected">
                                                <svg height="16" class="octicon octicon-file-text" viewBox="0 0 12 16" version="1.1" width="15" aria-hidden="true">
                                                   <path d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path>
                                                </svg>
                                                Sản phẩm
                                             </a>
                                          </div>
                                          <div class="UnderlineNav-actions">
                                             <span class="tooltipped tooltipped-sw tooltipped-no-delay" aria-label="Danh sách các sản phẩm mà khách đặt hàng">
                                                <svg aria-hidden="true" class="octicon octicon-question" height="16" version="1.1" viewBox="0 0 14 16" width="14">
                                                   <path fill-rule="evenodd" d="M6 10h2v2H6v-2zm4-3.5C10 8.64 8 9 8 9H6c0-.55.45-1 1-1h.5c.28 0 .5-.22.5-.5v-1c0-.28-.22-.5-.5-.5h-1c-.28 0-.5.22-.5.5V7H4c0-1.5 1.5-3 3-3s3 1 3 2.5zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"></path>
                                                </svg>
                                             </span>
                                          </div>
                                       </nav>
                                       <div class="row" style="display: flex;" ng-repeat="p in selectedProducts track by $index">
                                          <dl class="form-group">
                                             <div class="one-half column pl-0 chosen-sm">
                                                <dt>
                                                   <label>Sản phẩm {{$index+1}}</label>
                                                   <span class="d-inline-block mr-1">
                                                      <div class="commit-build-statuses">
                                                         <a class="text-red tooltipped tooltipped-e tooltipped-no-delay" aria-label="Xóa sản phẩm này" ng-click="deleteProduct($index)" style="cursor: pointer;">
                                                            <svg aria-hidden="true" class="octicon octicon-x" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                                                               <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
                                                            </svg>
                                                         </a>
                                                      </div>
                                                   </span>
                                                </dt>
                                                <!-- <select class="form-control input-sm " chosen ng-model="p.id" ng-options="s.id as s.name for s in aProducts" data-placeholder-text-single="'Chọn sản phẩm'" style="width: 100%">
                                                   <option value=""></option>
                                                </select> -->
                                                <select class="form-control input-sm" select2 ng-model="p.id" data-placeholder="Pick a number" ng-options="s.id as s.name for s in aProducts" style="width: 100%">
                                                  <option value=""></option>
                                                </select>
                                             </div>
                                             <div class="one-half column pr-0 pl-0">
                                                <div class="one-fourth column">
                                                   <dt><label>S.L</label></dt>
                                                   <input type="number" class="form-control input-sm" id="example-text" placeholder="Số lượng" ng-model="p.count">
                                                </div>
                                                <div class="three-fourths column pl-0">
                                                   <dt><label>Ghi chú</label></dt>
                                                   <input type="text" class="form-control input-sm" id="example-text" placeholder="vd: 14 hạt/12mm"  ng-model="p.note">
                                                </div>
                                             </div>
                                          </dl>
                                       </div>
                                       <div class="mt-2 mb-2">
                                          <div>
                                             <button class="btn btn-default btn-primary btn-purple btn-sm" ng-click="addProduct()">
                                                <svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 12 16" width="12" class="octicon octicon-plus float-left mr-2">
                                                   <path fill-rule="evenodd" d="M12 9H7v5H5V9H0V7h5V2h2v5h5z"></path>
                                                </svg>
                                                Thêm
                                             </button>
                                             <button class="btn-link btn-sm tooltipped tooltipped-se tooltipped-no-delay pl-2" data-box-overlay-id="add-new-product-to-list" aria-expanded="false" aria-label="Nếu sản phẩm không có trong danh mục">
                                                <svg height="16" class="octicon octicon-cloud-upload" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true">
                                                   <path fill-rule="evenodd" d="M7 9H5l3-3 3 3H9v5H7V9zm5-4c0-.44-.91-3-4.5-3C5.08 2 3 3.92 3 6 1.02 6 0 7.52 0 9c0 1.53 1 3 3 3h3v-1.3H3c-1.62 0-1.7-1.42-1.7-1.7 0-.17.05-1.7 1.7-1.7h1.3V6c0-1.39 1.56-2.7 3.2-2.7 2.55 0 3.13 1.55 3.2 1.8v1.2H12c.81 0 2.7.22 2.7 2.2 0 2.09-2.25 2.2-2.7 2.2h-2V12h2c2.08 0 4-1.16 4-3.5C16 6.06 14.08 5 12 5z"></path>
                                                </svg>
                                                Thêm sản phẩm mới vào cơ sở dữ liệu.
                                             </button>
                                             <div class="Overlay js-box-overlay-container transition-in-out" id="add-new-product-to-list" hidden="" aria-modal="true" role="dialog" aria-label="Thêm sản phẩm mới vào danh mục?" aria-describedby="__9efa967a575401481604d4204fb717f9-description">
                                                <div class="Overlay-table-full bg-transparent-dark">
                                                   <div class="Overlay-cell-middle">
                                                      <div class="Box Box--overlay js-box-overlay-content">
                                                         <div class="Box-header">
                                                            <button type="button" class="Box-btn-octicon btn-octicon float-right js-box-overlay-close">
                                                               <svg aria-label="Close" class="octicon octicon-x" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12">
                                                                  <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
                                                               </svg>
                                                            </button>
                                                            <h3 class="Box-title">
                                                               Thêm sản phẩm mới vào cơ sở dữ liệu.
                                                            </h3>
                                                         </div>
                                                         <div class="Box-body" id="__9efa967a575401481604d4204fb717f9-description">
                                                            <p>Vui lòng nhập tên sản phẩm vào ô dưới đây. Tên sản phẩm phải mô tả chủng loại và đặc tính của sản phẩm (màu sắc, ...). Nếu sản phẩm có nhiều kích cỡ thì chỉ cần tạo một loại.</p>
                                                            <!-- '"` --><!-- </textarea></xmp> -->
                                                            <form accept-charset="UTF-8" class="js-normalize-submit">
                                                               <p>
                                                                  <input type="text" class="form-control input-block" ng-model="newProduct.name" placeholder="Nhập tên sản phẩm">
                                                               </p>
                                                               <button type="submit" class="btn btn-block btn-danger" data-disable-invalid="" ng-click="onAddNewProduct()">
                                                               Thêm sản phẩm
                                                               </button>
                                                            </form>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <nav class="UnderlineNav"  style="float: none;clear: both;">
                                          <div class="UnderlineNav-body">
                                             <a role="tab" title="Item 1" class="UnderlineNav-item pl-0 pb-1 selected">
                                                <svg height="16" class="octicon octicon-file-text" viewBox="0 0 12 16" version="1.1" width="15" aria-hidden="true">
                                                   <path d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path>
                                                </svg>
                                                COMBO
                                             </a>
                                          </div>
                                          <div class="UnderlineNav-actions">
                                             <span class="tooltipped tooltipped-sw tooltipped-no-delay" aria-label="Ghi rõ nếu đơn hàng là COMBO">
                                                <svg aria-hidden="true" class="octicon octicon-question" height="16" version="1.1" viewBox="0 0 14 16" width="14">
                                                   <path fill-rule="evenodd" d="M6 10h2v2H6v-2zm4-3.5C10 8.64 8 9 8 9H6c0-.55.45-1 1-1h.5c.28 0 .5-.22.5-.5v-1c0-.28-.22-.5-.5-.5h-1c-.28 0-.5.22-.5.5V7H4c0-1.5 1.5-3 3-3s3 1 3 2.5zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"></path>
                                                </svg>
                                             </span>
                                          </div> 
                                       </nav>
                                       <dl class="form-group">
                                             <dd class="user-profile-bio-field-container js-suggester-container js-length-limited-input-container">
                                               <label>
                                                 <input type="radio" ng-model="customerData.combo" ng-value="true">
                                                 Đơn hàng COMBO
                                               </label><br/>
                                               <label>
                                                 <input type="radio" ng-model="customerData.combo" value="false">
                                                 Đơn hàng thông thường
                                               </label><br/>
                                                
                                             </dd>
                                          </dl>
                                          <nav class="UnderlineNav"  style="float: none;clear: both;">
                                          <div class="UnderlineNav-body">
                                             <a role="tab" title="Item 1" class="UnderlineNav-item pl-0 pb-1 selected" style="color: red">
                                                <svg height="16" class="octicon octicon-file-text" viewBox="0 0 12 16" version="1.1" width="15" aria-hidden="true">
                                                   <path d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path>
                                                </svg>
                                                Xả hàng
                                             </a>
                                          </div>
                                          <div class="UnderlineNav-actions">
                                             <span class="tooltipped tooltipped-sw tooltipped-no-delay" aria-label="Đánh dấu đơn hàng nếu là xả hàng cuối năm">
                                                <svg aria-hidden="true" class="octicon octicon-question" height="16" version="1.1" viewBox="0 0 14 16" width="14">
                                                   <path fill-rule="evenodd" d="M6 10h2v2H6v-2zm4-3.5C10 8.64 8 9 8 9H6c0-.55.45-1 1-1h.5c.28 0 .5-.22.5-.5v-1c0-.28-.22-.5-.5-.5h-1c-.28 0-.5.22-.5.5V7H4c0-1.5 1.5-3 3-3s3 1 3 2.5zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"></path>
                                                </svg>
                                             </span>
                                          </div> 
                                       </nav>
                                       <dl class="form-group">
                                             <dd class="user-profile-bio-field-container js-suggester-container js-length-limited-input-container">
                                               <label>
                                                 <input type="checkbox" ng-model="customerData.xa">
                                                 Xả hàng cuối năm
                                               </label><br/>                                                
                                             </dd>
                                          </dl>
                                    <!-- {{selectedProducts}} -->
                                    <nav class="UnderlineNav"  style="float: none;clear: both;">
                                          <div class="UnderlineNav-body">
                                             <a role="tab" title="Item 1" class="UnderlineNav-item pl-0 pb-1 selected">
                                                <svg height="16" class="octicon octicon-file-text" viewBox="0 0 12 16" version="1.1" width="15" aria-hidden="true">
                                                   <path d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path>
                                                </svg>
                                                Trì chú
                                             </a>
                                          </div>
                                          <div class="UnderlineNav-actions">
                                             <span class="tooltipped tooltipped-sw tooltipped-no-delay" aria-label="Ghi rõ mong muốn của khách hàng nếu có">
                                                <svg aria-hidden="true" class="octicon octicon-question" height="16" version="1.1" viewBox="0 0 14 16" width="14">
                                                   <path fill-rule="evenodd" d="M6 10h2v2H6v-2zm4-3.5C10 8.64 8 9 8 9H6c0-.55.45-1 1-1h.5c.28 0 .5-.22.5-.5v-1c0-.28-.22-.5-.5-.5h-1c-.28 0-.5.22-.5.5V7H4c0-1.5 1.5-3 3-3s3 1 3 2.5zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"></path>
                                                </svg>
                                             </span>
                                          </div>
                                       </nav>
                                       <dl class="form-group">
                                             <dt><label for="user_profile_bio">Nội dung mong muốn trì chú</label></dt>
                                             <dd class="user-profile-bio-field-container js-suggester-container js-length-limited-input-container">
                                                <textarea class="form-control user-profile-bio-field js-suggester-field js-length-limited-input input-sm" cols="40" data-input-max-length="160" data-warning-text="{{remaining}} remaining" id="user_profile_bio" rows="20" ng-model="customerData.wish" placeholder="Nếu đơn hàng có yêu cầu trì chú. Bạn cần ghi chính xác nội dung trì chú của khách hàng. Những gì bạn viết ở đây sẽ được in ra thành phiếu trì chú và khách hàng sẽ nhìn thấy được."></textarea>
                                                <p class="js-length-limited-input-warning user-profile-bio-message d-none"></p>
                                                <div class="suggester-container">
                                                   <div class="suggester js-suggester js-navigation-container">
                                                   </div>
                                                </div>
                                             </dd>
                                          </dl>
                                    <div style="display: block;">
                                       <div class="one-half column pl-0">
                                          <dl class="form-group">
                                             <dt><label for="user_profile_bio">Ghi chú đóng hàng/tạo đơn</label></dt>
                                             <dd class="user-profile-bio-field-container js-suggester-container js-length-limited-input-container">
                                                <textarea class="form-control user-profile-bio-field js-suggester-field js-length-limited-input input-sm" cols="40" data-input-max-length="160" data-warning-text="{{remaining}} remaining" id="user_profile_bio" rows="20" ng-model="customerData.customerNote" placeholder="vd: Số ĐT nhận hàng 01234567891"></textarea>
                                                <p class="js-length-limited-input-warning user-profile-bio-message d-none"></p>
                                                <div class="suggester-container">
                                                   <div class="suggester js-suggester js-navigation-container">
                                                   </div>
                                                </div>
                                             </dd>
                                          </dl>
                                       </div>
                                       <div class="one-half column pr-0">
                                          <dl class="form-group">
                                             <dt><label for="user_profile_bio">Ghi chú trên phiếu giao hàng</label></dt>
                                             <dd class="user-profile-bio-field-container js-suggester-container js-length-limited-input-container">
                                                <textarea class="form-control user-profile-bio-field js-suggester-field js-length-limited-input input-sm" cols="40" data-input-max-length="160" data-warning-text="{{remaining}} remaining" id="user_profile_bio" rows="20" ng-model="customerData.orderNote" placeholder="vd: Nhận hàng vào tối chủ nhật"></textarea>
                                                <p class="js-length-limited-input-warning user-profile-bio-message d-none"></p>
                                                <div class="suggester-container">
                                                   <div class="suggester js-suggester js-navigation-container">
                                                   </div>
                                                </div>
                                             </dd>
                                          </dl>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="mt-2" style="text-align: right;">
                              <!-- <a href="github-windows://openRepo/https://github.com/iamkdev/ng-frappe-charts" class="btn btn-outline get-repo-btn tooltipped tooltipped-s tooltipped-multiline" aria-label="Clone iamkdev/ng-frappe-charts to your computer and use it in GitHub Desktop.">
                                 Open in Desktop
                                 </a> -->
                              <button class="btn btn-default btn-primary btn-purple mt-3 mb-3" role="button" rel="nofollow" ng-click="onSubmitOrder()" style="cursor: pointer;box-shadow: none" ng-disabled="is_submitting">
                                 <svg aria-hidden="true" class="octicon octicon-check" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                                    <path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path>
                                 </svg>
                                 Chốt đơn
                              </button>
                           </div>
                        </div>
                        <div ng-include="'/src/realtime/pages/orders/widgets/edit-order-data.html'" ng-if="activeStatusId==6"></div>
                     </div>
                  </div>
               </details>
            </div>
         </div>
      </div>
   </div>
   <div class="inner_col_left">
      <div class="col_message guard-wrapper">
         <div class="chat_body">
            <div class="list-mes">
               <div class="wrap_body_chat chat active-chat" style="overflow-x: hidden; overflow-y: auto;background: #e5ded8">
                  <div ng-include="'/src/realtime/pages/orders/widgets/post-detail.html'"></div>
               </div>
               <div ng-if="startReplying" class="p6n-ls-wrapper" aria-hidden="true" style="display: block;position: absolute;bottom: 0;left: 15px;">
                  <pan-loader offline="offline" pan-buttertip-message="" pan-show-tip-if="offline" style="
                     display: block;
                     ">
                     <div class="p6n-ls-container" ng-class="{'p6n-ls-offline' : isOffline}">  <span class="p6n-ls-node"></span>  <span class="p6n-ls-node"></span></div>
                  </pan-loader>
               </div>
               <div class="write_chat">
                  <div class="input_chat"><textarea ng-model="comentText" class="input-msg" id="fb_info_message" name="input_message" placeholder="{{conversation_type==1 ? 'Tin nhắn' : 'Bình luận'}} sẽ được gửi trực tiếp đến khách hàng..." autocomplete="on" comment-enter=""></textarea></div>
                  <div class="function_message">
                     <ul class="list_action">
                        <li id="open_image_" class="open_image_post">
                           <div>
                              <a class="open_file" ng-click="showSelectPhotoFacebox()">
                                 <svg height="24" class="octicon octicon-file-media" viewBox="0 0 12 16" version="1.1" width="24" aria-hidden="true"><path fill-rule="evenodd" d="M6 5h2v2H6V5zm6-.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v11l3-5 2 4 2-2 3 3V5z"></path></svg>
                              </a>
                           </div>
                        </li>
                        
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="inner_col_right">
      <div class="log" style="padding: 15px;  margin: 0;overflow: auto;overflow-x: hidden;height: 100%;" ng-include="'/src/realtime/pages/orders/widgets/order-log.html'"></div>
   </div>
</div>