           * {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            body {
                font-family: "Arial";
                font-size: 10.7px;
            }

            @media print {
                @page {
                    size: a5 landscape;
                    margin: 0;
                    min-height: auto;
                }

                html, body {
                    border: 0px solid white;
                }

                .content {
                    width: 794px;
                    height: 540px;
                    content: ".";
                }

                .info-hub {
                    border-bottom: solid 1px #ddd;
                }
            }

            .content {
                width: 794px;
                height: 546px;
                content: ".";
                margin: 10px 0;
            }

                .content:last-child {
                    height: 530px;
                }

                .content.page-break {
                    display: block;
                    page-break-after: always;
                }

                    .content.page-break:last-child {
                        display: block;
                        page-break-after: avoid;
                    }

            .center {
                text-align: center !important;
            }

            .bold {
                font-weight: bold !important;
            }

            .hul {
                display: inline-block;
                padding: 0;
                margin: 0 0 -15px 0;
                list-style: none;
                width: 100%;
            }

                .hul li {
                    margin: 5px 0;
                }

            .row {
                margin-left: -10px;
                margin-right: -10px;
                display: inline-block;
                width: calc(100% + 20px);
            }

            .col-6, .col-8, .col-9, .col-1, .col-2, .col-3, .col-4, .col-5 {
                /*padding: 0 10px;*/
                float: left;
            }

            .col-5 {
                width: 41.66%;
            }

            .col-6 {
                width: 50%;
            }

            .col-9 {
                width: 75%;
            }

            .col-8 {
                width: 60%;
            }

            .col-1 {
                width: 8.33%;
            }

            .col-2 {
                width: 16.66%;
            }

            .col-3 {
                width: 25%;
            }

            .col-4 {
                width: 33.33%;
            }

            .info-user, .info-packet,
            .info-hub,
            .info-header,
            .info-return {
                display: table;
                border-left: solid 1px #ddd;
                border-top: solid 1px #ddd;
                border-right: solid 1px #ddd;
                width: 100%;
            }

            .info-hnote {
                display: inline-block;
                border: solid 1px #ddd;
                width: 100%;
            }

            p {
                margin: 0;
            }

            span {
                font-size: 15px;
            }


            img {
                max-width: 100%;
            }

            .row {
                display: block;
            }
            /*info-header*/
            .info-header {
                padding: 15px 20px;
                height: 50px;
            }

                .info-header .hgc {
                    text-align: right;
                    margin-top: 3px;
                }

                    .info-header .hgc label {
                        border: solid 1px #ddd;
                        border-radius: 2px;
                        padding: 3px 8px;
                    }

                .info-header span {
                    font-weight: bold;
                }
            /*info-user*/
            .info-user img {
                width: 74px;
                max-width: none;
            }

            .info-user p {
                line-height: 16px;
            }

            .info-user .col-6,
            .info-user .col-5 {
                min-height: 150px;
                padding: 5px 10px;
            }

            .info-packet .col-4,
            .info-packet .col-3,
            .info-packet .col-5 {
                min-height: 180px;
            }

            .row .col-5, .row .col-4, .row .col-3 {
                border-right: 1px solid #ddd;
            }

                .row .col-5:last-child, .row .col-4:last-child, .row .col-3:last-child {
                    border-right: 0px;
                }

            .info-user {
                padding: 0px 20px;
                line-height: 16px;
                height: 108px;
                position: relative;
            }

                .info-user .col-6:first-child {
                    border-right: solid 1px #ddd;
                }

                .info-user .col-6 label {
                    color: #636363;
                }

                .info-user .col-1 {
                    padding: 0px;
                }

                    .info-user .col-1 h3 {
                        margin: 10px 0 0 10px;
                    }

                .info-user ul li {
                    position: relative;
                    padding-left: 85px;
                    min-height: 16px;
                }

                    .info-user ul li span:first-child {
                        position: absolute;
                        left: 0;
                    }
            /*info-packet*/
            .info-packet, .info-hub {
                font-size: 13.4px;
                /*height: 130px;*/
                padding: 0px 10px;
            }

            /*.info-packet .info-packet-service {
                    margin: 0 0 0 -10px;
                }*/

            .toAddress {
                text-align: left;
                margin: 0 10px;
            }

                .toAddress b {
                    display: block;
                    margin: 0 0 0.2em;
                }

            .info-packet .hbarcode p {
                word-wrap: break-word;
                font-weight: bold;
                font-size: 13px !important;
            }

            .info-packet .col-4 {
                text-align: center;
                min-height: 180px;
            }

            .hnote {
                font-size: 13px;
                color: #636363;
                font-style: italic;
                text-align: center;
                margin: 10px;
            }

            .info-packet .hul {
                line-height: 22.8px;
            }
            /*info-packet*/
            /*.info-hub {
                padding-left: 20px;
                height: 154px;
            }*/

            .info-hub {
                border-bottom: solid 1px #ddd;
            }

                .info-hub .hul h2 {
                    font-size: 24px;
                    margin: 5px 0;
                }

                .info-hub .col-5, .info-hub .col-4, .info-hub .col-3 {
                    min-height: 200px;
                    padding: 5px;
                }

                .info-hub .col-8 {
                    padding-top: 10px;
                    border-right: solid 1px #ddd;
                    height: 154px;
                }

                .info-hub label {
                    color: #636363;
                    margin-bottom: 3px;
                    display: inline-block;
                }

                .info-hub .col-8 p {
                    font-size: 25px;
                    font-weight: bold;
                    line-height: 30px;
                }

                .info-hub .col-4 p {
                    font-size: 30px;
                    font-weight: bold;
                }

            .info-packet .col-3 p {
                font-size: 45px;
                font-weight: bold;
            }

            .info-hub .col-4 div {
                padding: 10px;
            }

            .info-user .col-1 div:first-child {
                border-bottom: solid 1px #eee;
                height: 77px;
            }

            .info-user .col-2 div:first-child,
            .info-packet .col-4 h2 {
                margin: 0px;
            }

            .info-packet .col-3.info-packet-service {
                text-align: center;
            }

                .info-packet .col-3.info-packet-service div:first-child {
                    border-bottom: solid 1px #eee;
                    min-height: 80px;
                    margin: 10px 0;
                }
            /*info-hnote*/
            .info-hnote {
                padding: 13px 20px;
                height: 58px;
            }
            /*info-return*/
            .info-return {
                padding: 13px 20px;
                border: 0;
                font-size: 8px;
                /*height: 220px;*/
            }

                .info-return li {
                    position: relative;
                    padding-left: 12px;
                    height: 15px;
                    overflow: hidden;
                }

                    .info-return li:before {
                        content: '';
                        height: 5px;
                        width: 5px;
                        display: inline-block;
                        border: solid 1px #000;
                        position: absolute;
                        left: 0;
                    }

                    .info-return li:after {
                        content: '';
                        width: 100%;
                        height: 1px;
                        border-bottom: dotted 1px #000;
                        display: inline-block;
                        position: absolute;
                        left: 12px;
                        bottom: 7px;
                    }

                .info-return .hdate {
                    text-align: right;
                }

                    .info-return .hdate ul {
                        width: auto;
                    }

                    .info-return .hdate li {
                        padding-left: 0;
                        float: left;
                        width: 35px;
                        margin-right: 2px;
                        text-align: left;
                    }

                        .info-return .hdate li:before {
                            content: none;
                        }

                .info-return li span {
                    background: #fff;
                    display: inline-block;
                    height: 8px;
                    position: relative;
                    z-index: 1;
                    padding-right: 2px;
                }

                .info-return .htitle {
                    font-weight: bold;
                    min-height: 6px;
                    display: block;
                    margin-top: 2px;
                    margin-bottom: 4px;
                }

                .info-return .htitle-b {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 8px;
                }

            .hnotef {
                position: relative;
                height: 26px;
            }

                .hnotef:before, .hnotef:after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    border-bottom: dotted 1px #000;
                    position: absolute;
                }

                .hnotef:before {
                    bottom: 12px;
                }

                .hnotef:after {
                    bottom: 0;
                }

            .fend {
                margin-top: 8px;
                margin-bottom: 30px;
                text-align: center;
            }

            .info-hub {
                position: relative;
            }

                .info-hub .col-4 div:first-child {
                    height: 77px;
                }

            .hbarcode label {
                display: inline-block;
                width: 100%;
                text-align: center;
                font-size: 10.7px;
            }

            .hbarcode {
                padding-top: 35px;
            }

            .ads p {
                font-size: 11px !important;
                font-weight: normal !important;
            }

            .ads h2 {
                line-height: 25px;
                margin: 5px 0 10px 0;
            }

            .ads h3 {
                line-height: 25px;
                margin: -10px 0 0 0;
            }

            .btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    /*font-weight: 600;*/
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}
.btn i {
    font-style: normal;
    font-weight: 500;
    opacity: 0.6
}
.btn .octicon {
    vertical-align: text-top
}
.btn .Counter {
    color: #586069;
    text-shadow: none;
    background-color: rgba(27, 31, 35, 0.1)
}
.btn:hover {
    text-decoration: none;
    background-repeat: repeat-x
}
.btn:focus {
    outline: 0
}
.btn:disabled,
.btn.disabled {
    cursor: default;
    background-position: 0 0
}
.btn:active,
.btn.selected {
    background-image: none
}
.btn {
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%)
}
.btn:focus,
.btn.focus {
    box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.3)
}
.btn:hover,
.btn.hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: 0 -0.5em;
    border-color: rgba(27, 31, 35, 0.35)
}
.btn:active,
.btn.selected,
[open]>.btn {
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.35);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15)
}
.btn:disabled,
.btn.disabled {
    color: rgba(36, 41, 46, 0.4);
    background-color: #eff3f6;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.2);
    box-shadow: none
}
.btn-primary {
    color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%)
}
.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2em rgba(52, 208, 88, 0.3)
}
.btn-primary:hover,
.btn-primary.hover {
    background-color: #269f42;
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
    background-position: 0 -0.5em;
    border-color: rgba(27, 31, 35, 0.5)
}
.btn-primary:active,
.btn-primary.selected,
[open]>.btn-primary {
    background-color: #279f43;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.5);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15)
}
.btn-primary:disabled,
.btn-primary.disabled {
    color: rgba(255, 255, 255, 0.75);
    background-color: #94d3a2;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.2);
    box-shadow: none
}
.btn-primary .Counter {
    color: #29b249;
    background-color: #fff
}
.btn-purple {
    color: #fff;
    background-color: #643ab0;
    background-image: linear-gradient(-180deg, #7e55c7 0%, #643ab0 90%)
}
.btn-purple:focus,
.btn-purple.focus {
    box-shadow: 0 0 0 0.2em rgba(126, 85, 199, 0.3)
}
.btn-purple:hover,
.btn-purple.hover {
    background-color: #5f37a8;
    background-image: linear-gradient(-180deg, #784ec5 0%, #5f37a8 90%);
    background-position: 0 -0.5em;
    border-color: rgba(27, 31, 35, 0.5)
}
.btn-purple:active,
.btn-purple.selected,
[open]>.btn-purple {
    background-color: #613ca4;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.5);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15)
}
.btn-purple:disabled,
.btn-purple.disabled {
    color: rgba(255, 255, 255, 0.75);
    background-color: #b19cd7;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.2);
    box-shadow: none
}
.btn-purple .Counter {
    color: #683cb8;
    background-color: #fff
}
.btn-blue {
    color: #fff;
    background-color: #0361cc;
    background-image: linear-gradient(-180deg, #0679fc 0%, #0361cc 90%)
}
.btn-blue:focus,
.btn-blue.focus {
    box-shadow: 0 0 0 0.2em rgba(6, 121, 252, 0.3)
}
.btn-blue:hover,
.btn-blue.hover {
    background-color: #035cc2;
    background-image: linear-gradient(-180deg, #0374f4 0%, #035cc2 90%);
    background-position: 0 -0.5em;
    border-color: rgba(27, 31, 35, 0.5)
}
.btn-blue:active,
.btn-blue.selected,
[open]>.btn-blue {
    background-color: #045cc1;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.5);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15)
}
.btn-blue:disabled,
.btn-blue.disabled {
    color: rgba(255, 255, 255, 0.75);
    background-color: #81b0e5;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.2);
    box-shadow: none
}
.btn-blue .Counter {
    color: #0366d6;
    background-color: #fff
}
.btn-danger {
    color: #cb2431;
    background-color: #fafbfc;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%)
}
.btn-danger:focus {
    box-shadow: 0 0 0 0.2em rgba(203, 36, 49, 0.3)
}
.btn-danger:hover {
    color: #fff;
    background-color: #cb2431;
    background-image: linear-gradient(-180deg, #de4450 0%, #cb2431 90%);
    border-color: rgba(27, 31, 35, 0.5)
}
.btn-danger:hover .Counter {
    color: #fff
}
.btn-danger:active,
.btn-danger.selected,
[open]>.btn-danger {
    color: #fff;
    background-color: #b5202c;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.5);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15)
}
.btn-danger:disabled,
.btn-danger.disabled {
    color: rgba(203, 36, 49, 0.4);
    background-color: #eff3f6;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.2);
    box-shadow: none
}
.btn-outline {
    /*color: #0366d6;*/
    background-color: #fff;
    background-image: none
}
.btn-outline .Counter {
    background-color: rgba(27, 31, 35, 0.07)
}
.btn-outline:hover,
.btn-outline:active,
.btn-outline.selected,
[open]>.btn-outline {
    color: #fff;
    background-color: #0366d6;
    background-image: none;
    border-color: #0366d6
}
.btn-outline:hover .Counter,
.btn-outline:active .Counter,
.btn-outline.selected .Counter,
[open]>.btn-outline .Counter {
    color: #0366d6;
    background-color: #fff
}
.btn-outline:focus {
    border-color: #0366d6;
    box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.3)
}
.btn-outline:disabled,
.btn-outline.disabled {
    color: rgba(27, 31, 35, 0.3);
    background-color: #fff;
    border-color: rgba(27, 31, 35, 0.15);
    box-shadow: none
}
.btn-with-count {
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
.btn-sm {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px
}
.btn-large {
    padding: 0.75em 1.25em;
    font-size: inherit;
    border-radius: 6px
}
.p-0 {
    padding: 0 !important
}
.pt-0 {
    padding-top: 0 !important
}
.pr-0 {
    padding-right: 0 !important
}
.pb-0 {
    padding-bottom: 0 !important
}
.pl-0 {
    padding-left: 0 !important
}
.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important
}
.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}
.p-1 {
    padding: 4px !important
}
.pt-1 {
    padding-top: 4px !important
}
.pr-1 {
    padding-right: 4px !important
}
.pb-1 {
    padding-bottom: 4px !important
}
.pl-1 {
    padding-left: 4px !important
}
.px-1 {
    padding-right: 4px !important;
    padding-left: 4px !important
}
.py-1 {
    padding-top: 4px !important;
    padding-bottom: 4px !important
}
.p-2 {
    padding: 8px !important
}
.pt-2 {
    padding-top: 8px !important
}
.pr-2 {
    padding-right: 8px !important
}
.pb-2 {
    padding-bottom: 8px !important
}
.pl-2 {
    padding-left: 8px !important
}
.px-2 {
    padding-right: 8px !important;
    padding-left: 8px !important
}
.py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important
}
.p-3 {
    padding: 16px !important
}
.pt-3 {
    padding-top: 16px !important
}
.pr-3 {
    padding-right: 16px !important
}
.pb-3 {
    padding-bottom: 16px !important
}
.pl-3 {
    padding-left: 16px !important
}
.px-3 {
    padding-right: 16px !important;
    padding-left: 16px !important
}
.py-3 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}
.p-4 {
    padding: 24px !important
}
.pt-4 {
    padding-top: 24px !important
}
.pr-4 {
    padding-right: 24px !important
}
.pb-4 {
    padding-bottom: 24px !important
}
.pl-4 {
    padding-left: 24px !important
}
.px-4 {
    padding-right: 24px !important;
    padding-left: 24px !important
}
.py-4 {
    padding-top: 24px !important;
    padding-bottom: 24px !important
}
.p-5 {
    padding: 32px !important
}
.pt-5 {
    padding-top: 32px !important
}
.pr-5 {
    padding-right: 32px !important
}
.pb-5 {
    padding-bottom: 32px !important
}
.pl-5 {
    padding-left: 32px !important
}
.px-5 {
    padding-right: 32px !important;
    padding-left: 32px !important
}
.py-5 {
    padding-top: 32px !important;
    padding-bottom: 32px !important
}
.p-6 {
    padding: 40px !important
}
.pt-6 {
    padding-top: 40px !important
}
.pr-6 {
    padding-right: 40px !important
}
.pb-6 {
    padding-bottom: 40px !important
}
.pl-6 {
    padding-left: 40px !important
}
.px-6 {
    padding-right: 40px !important;
    padding-left: 40px !important
}
.py-6 {
    padding-top: 40px !important;
    padding-bottom: 40px !important
}
.m-0 {
    margin: 0 !important
}
.mt-0 {
    margin-top: 0 !important
}
.mr-0 {
    margin-right: 0 !important
}
.mb-0 {
    margin-bottom: 0 !important
}
.ml-0 {
    margin-left: 0 !important
}
.mt-n0 {
    margin-top: -0 !important
}
.mr-n0 {
    margin-right: -0 !important
}
.mb-n0 {
    margin-bottom: -0 !important
}
.ml-n0 {
    margin-left: -0 !important
}
.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important
}
.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}
.m-1 {
    margin: 4px !important
}
.mt-1 {
    margin-top: 4px !important
}
.mr-1 {
    margin-right: 4px !important
}
.mb-1 {
    margin-bottom: 4px !important
}
.ml-1 {
    margin-left: 4px !important
}
.mt-n1 {
    margin-top: -4px !important
}
.mr-n1 {
    margin-right: -4px !important
}
.mb-n1 {
    margin-bottom: -4px !important
}
.ml-n1 {
    margin-left: -4px !important
}
.mx-1 {
    margin-right: 4px !important;
    margin-left: 4px !important
}
.my-1 {
    margin-top: 4px !important;
    margin-bottom: 4px !important
}
.m-2 {
    margin: 8px !important
}
.mt-2 {
    margin-top: 8px !important
}
.mr-2 {
    margin-right: 8px !important
}
.mb-2 {
    margin-bottom: 8px !important
}
.ml-2 {
    margin-left: 8px !important
}
.mt-n2 {
    margin-top: -8px !important
}
.mr-n2 {
    margin-right: -8px !important
}
.mb-n2 {
    margin-bottom: -8px !important
}
.ml-n2 {
    margin-left: -8px !important
}
.mx-2 {
    margin-right: 8px !important;
    margin-left: 8px !important
}
.my-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important
}
.m-3 {
    margin: 16px !important
}
.mt-3 {
    margin-top: 16px !important
}
.mr-3 {
    margin-right: 16px !important
}
.mb-3 {
    margin-bottom: 16px !important
}
.ml-3 {
    margin-left: 16px !important
}
.mt-n3 {
    margin-top: -16px !important
}
.mr-n3 {
    margin-right: -16px !important
}
.mb-n3 {
    margin-bottom: -16px !important
}
.ml-n3 {
    margin-left: -16px !important
}
.mx-3 {
    margin-right: 16px !important;
    margin-left: 16px !important
}
.my-3 {
    margin-top: 16px !important;
    margin-bottom: 16px !important
}
.m-4 {
    margin: 24px !important
}
.mt-4 {
    margin-top: 24px !important
}
.mr-4 {
    margin-right: 24px !important
}
.mb-4 {
    margin-bottom: 24px !important
}
.ml-4 {
    margin-left: 24px !important
}
.mt-n4 {
    margin-top: -24px !important
}
.mr-n4 {
    margin-right: -24px !important
}
.mb-n4 {
    margin-bottom: -24px !important
}
.ml-n4 {
    margin-left: -24px !important
}
.mx-4 {
    margin-right: 24px !important;
    margin-left: 24px !important
}
.my-4 {
    margin-top: 24px !important;
    margin-bottom: 24px !important
}
.m-5 {
    margin: 32px !important
}
.mt-5 {
    margin-top: 32px !important
}
.mr-5 {
    margin-right: 32px !important
}
.mb-5 {
    margin-bottom: 32px !important
}
.ml-5 {
    margin-left: 32px !important
}
.mt-n5 {
    margin-top: -32px !important
}
.mr-n5 {
    margin-right: -32px !important
}
.mb-n5 {
    margin-bottom: -32px !important
}
.ml-n5 {
    margin-left: -32px !important
}
.mx-5 {
    margin-right: 32px !important;
    margin-left: 32px !important
}
.my-5 {
    margin-top: 32px !important;
    margin-bottom: 32px !important
}
.m-6 {
    margin: 40px !important
}
.mt-6 {
    margin-top: 40px !important
}
.mr-6 {
    margin-right: 40px !important
}
.mb-6 {
    margin-bottom: 40px !important
}
.ml-6 {
    margin-left: 40px !important
}
.mt-n6 {
    margin-top: -40px !important
}
.mr-n6 {
    margin-right: -40px !important
}
.mb-n6 {
    margin-bottom: -40px !important
}
.ml-n6 {
    margin-left: -40px !important
}
.mx-6 {
    margin-right: 40px !important;
    margin-left: 40px !important
}
.my-6 {
    margin-top: 40px !important;
    margin-bottom: 40px !important
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important
}