<div class="row_col_right">
   <div ng-include="'/src/shipping/widgets/create-shipping.html'" ng-if="!activedItem.orderCode"></div>
   <div class="edit-shipping" ng-if="activedItem.orderCode">
     <div class="info">
       <h3>
       Order này đã tạo đơn hàng thành công trên GHN với mã vận đơn: {{activedItem.orderCode}}
       </h3>
       <span>Trạng thái đơn hàng: {{trackingData.data.data.CurrentStatus}}</span>
       <hr />
       <ul class="actions-list">
         <li ng-if="trackingData.data.data.CurrentStatus=='ReadyToPick'">
           Bạn có thể Chỉnh sửa đơn hàng này <a href="#">tại đây</a>.
         </li>
         <li ng-if="trackingData.data.data.CurrentStatus=='ReadyToPick' || trackingData.data.data.CurrentStatus=='Picking'">
           Bạn có thể Hủy đơn hàng này <a ng-click="cancelOrder(activedItem.orderCode)">tại đây</a>.
         </li>
         <li ng-if="trackingData.data.data.CurrentStatus!=='ReadyToPick' && trackingData.data.data.CurrentStatus!=='Picking'">
           Bạn không thể chỉnh sửa hoặc hủy đơn hàng này vì GHN không cho phép.
         </li>
       </ul>

       <!-- <pre>
         {{trackingData | json}}
       </pre> -->
     </div>
   </div>
      <div class="conversation-log" style="overflow-y: scroll;overflow-x: hidden;">
        <div ng-include="'/src/admin/widgets/chat-box.html'"></div>
   </div>
</div>