<!-- 
<div ng-if="isLoading" class="p6n-ls-wrapper" aria-hidden="true" style="display: block;position: absolute;bottom: 0;left: 15px;">
   <pan-loader offline="offline" pan-buttertip-message="" pan-show-tip-if="offline" style="
      display: block;
      ">
      <div class="p6n-ls-container" ng-class="{'p6n-ls-offline' : isOffline}">  <span class="p6n-ls-node"></span>  <span class="p6n-ls-node"></span></div>
   </pan-loader>
</div> -->
      <div class="p-4" style="position: absolute;text-align: center;top: 32;left: 0;right: 0;z-index: 9999"><div class="flash flash-error">
        Bạn đang sử dụng phiên bản cũ của phần mềm. Click <a href="/ship">vào đây</a> để sử dụng phiên bản mới!
      </div></div>
<div class="fpage_mes">
   <div class="fpage_mes_content">
      <div class="wrap_content">
         <div class="col_left sidebar_list_chat open_sidebar_chat">
         	<div class="filterbar">
               <!-- <div class="context-header">
                  <a title="tasks" href="/gitlab-org/release/tasks"><div class="avatar-container s40 project-avatar">
                  <div class="avatar s40 avatar-tile identicon" style="background-color: #F3E5F5; color: #555">T</div>
                  </div>
                  <div class="sidebar-context-title">
                  tasks
                  </div>
                  </a></div> -->
               <ul class="filterbar-nav">
                  <li class="home tooltipped tooltipped-e tooltipped-no-delay" ng-repeat="(key, value) in availableShippingItems | countBy: 'push_to_ghn_at'" aria-label="Số đơn đã load">
                     <!-- <a class="shortcuts-project">
                        <div class="nav-icon-container" style="margin:0 auto;">
                           <span class="Counter" style="background-color: {{getSourceColor(key)}};color:#fff">{{value}}</span>
                        </div>
                     </a> -->
                  </li>
                  
               </ul>
            </div>
            <div class="col_left_conversation">
               <div class="list_content_col_left">
                  <!-- <div class="p6n-ls-wrapper" aria-hidden="true" style="text-align: center;" ng-if="!finishLoadingOrders">
                     <pan-loader offline="offline" pan-buttertip-message="" pan-show-tip-if="offline" style="
                        display: block;
                        ">
                        <div class="p6n-ls-container" ng-class="{'p6n-ls-offline' : isOffline}">  <span class="p6n-ls-node"></span>  <span class="p6n-ls-node"></span></div>
                     </pan-loader>
                  </div> -->
                  <div class="people scrollable">
                     <div style="height: 100%">
                        <li ng-repeat="order in availableShippingItems" class="person order-{{order.id}}" ui-sref="home.detail({ctype: order.data.data.orderData.type, id : order.data.id, cm: order.data.data.customerData.recievedPhone, page_id: order.data.data.orderData.page_id, post_id: order.data.data.orderData.post_id, customer_id: order.data.data.orderData.customer_id, oid: order.data.data.orderData.id, cv_id: order.data.data.orderData.conversation_id})" ui-sref-active="active"
                        ng-if="order.data.id">
                        <div class="wrap_chat">
                           <!-- <div class="check">
                              <input type="checkbox" class="check_people" value="on">
                           </div> -->
                           <div class="clearfix">
                              <div class="" style="opacity: 0.35">
                                 <img ng-src="assets/images/default-avatar-contact.svg" alt="avatar" title="{{order.data.orderData.customer_name}}">
                              </div>
                              <div class="info">
                                 <div class="title">
                                    <span class="name">
                                       {{order.data.data.customerData.realName || order.data.data.orderData.customer_name}}
                                    </span>
                                 </div>
                                 <span class="live_chat">
                                    <span ng-if="!order.data.orderCode">
                                       Chốt bởi <strong>{{filterById(telesales, order.data.data.orderData.seller_will_call_id).last_name || 'Không rõ'}}</strong>
                                    </span>
                                    <span ng-if="order.data.orderCode" style="color:#d73a49">Tạo đơn GHN lúc: {{order.data.push_to_ghn_at | date: 'HH:mm dd/MM'}}</span>
                                    <span></span>
                                 </span>
                              </div>
                              <div class="time_tag"><span class="time_latest_message">
                                 <!-- {{order.data.push_to_ghn_at}} -->
                                 {{ order.data.created_time | date:'HH:mm dd/MM'}}
                                 <!-- {{order.orderCode}} -->
                              </span>
                                 <ul class="list_tag">
                                    <li class="tag_item" ng-if="order.data.orderCode && !order.data.is_cancel">
                                       <svg height="16" class="octicon octicon-check" viewBox="0 0 12 16" version="1.1" width="16" aria-hidden="true" style="vertical-align: text-bottom; color: #279f43;margin-right: 0px; line-height: 24px;"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path></svg>
                                    </li>
                                    <!-- <li class="tag_item" ng-if="order.data.data.commentCount > 0" style="width: 30px">
                                       <svg aria-hidden="true" class="octicon octicon-comment v-align-middle" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                                          <path fill-rule="evenodd" d="M14 1H2c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1h2v3.5L7.5 11H14c.55 0 1-.45 1-1V2c0-.55-.45-1-1-1zm0 9H7l-2 2v-2H2V2h12v8z"></path>
                                       </svg>
                                       <span class="text-small" style="display: inline-block;">{{order.data.commentCount}}</span>
                                       
                                    </li> -->
                                     <li class="tag_item" ng-if="order.data.is_cancel">
                                       <!-- <svg class=" tooltipped tooltipped-sw set-tag-enter set-tag-enter-active" aria-label="sdfsdf" fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 40 40" name="circle" style="vertical-align: text-bottom; color: red; font-size: 14px; margin-left: 2px; margin-right: 0px; line-height: 24px;"><g><path d="m37.3 20q0 4.7-2.3 8.6t-6.3 6.2-8.6 2.3-8.6-2.3-6.2-6.2-2.3-8.6 2.3-8.6 6.2-6.2 8.6-2.3 8.6 2.3 6.3 6.2 2.3 8.6z"></path></g></svg> -->
                                       <svg height="16" class="octicon octicon-stop" viewBox="0 0 14 16" version="1.1" width="16" aria-hidden="true" style="vertical-align: text-bottom; color: #d73a49; margin-right: 0px; line-height: 24px;"><path fill-rule="evenodd" d="M10 1H4L0 5v6l4 4h6l4-4V5l-4-4zm3 9.5L9.5 14h-5L1 10.5v-5L4.5 2h5L13 5.5v5zM6 4h2v5H6V4zm0 6h2v2H6v-2z"></path></svg>
                                    </li>
                                    <li ng-if="order.data.data.seller_will_call_id" class="tag_item" style="width: 30px;font-size: 12px;">
                                       {{order.data.data.seller_will_call_id}}
                                    </li>
                                 </ul>
                              </div>
                              
                           </div>
                        </div>
                        
                     </li>
                     <!-- Next Orders button -->
                     <div class="text-center" ng-if="availableShippingItems">
                        <button class="btn btn-default btn-primary btn-purple mt-3 mb-3"
                           ng-class="canLoadMore==false ? 'disabled' : ''" ng-click="getNextShippingItems()">
                           <span ng-if="isLoaddingOrder">
                              Đang tải Orders...
                           </span>
                           <span ng-if="canLoadMore && !isLoaddingOrder">
                              Tải thêm Orders
                           </span>
                           <span ng-if="canLoadMore==false">
                              Đã tải tất cả Orders
                           </span>
                        </button>
                     </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col_right">
               <div ui-view style="height: 100% !important;"></div>
      </div>
   </div>
</div>