<!-- Content -->
<div class="container new-discussion-timeline experiment-repo-nav">
   <div class="repository-content px-3">
      <!-- <div class="file-navigation in-mid-page" hidden="">
         <div class="BtnGroup float-right">
            <form accept-charset="UTF-8" class="BtnGroup-form" method="post">
               <button class="btn btn-sm BtnGroup-item" type="submit" data-disable-with="Creating file…">
               Thêm Order
               </button>
            </form>
            <a class="btn btn-sm BtnGroup-item">
            Thêm Page
            </a>
            <a class="btn btn-sm empty-icon float-right BtnGroup-item" data-pjax="" data-hotkey="t" data-ga-click="Repository, find file, location:repo overview">
            Thêm User
            </a>
         </div>
         <div class="select-menu branch-select-menu js-menu-container js-select-menu float-left">
            <datepicker date-format="yyyy-MM-dd" selector="form-control">
               <div class="input-group">
                  <input class="form-control input-sm" placeholder="Chọn ngày hiển thị" ng-model="selectedDate"/>
                  <span class="input-group-addon" style="cursor: pointer">
                  <i class="fa fa-lg fa-calendar"></i>
                  </span>
               </div>
            </datepicker>
         </div>
         <a class="btn btn-sm new-pull-request-btn" data-pjax="" ng-click="getReportForSelectedDate(selectedDate)">
         Cập nhật
         </a>
         <div class="breadcrumb">
         </div>
      </div> -->
      <!-- <div class="columns m-0"  infinite-scroll='loadMore()' 
        infinite-scroll-distance="1">
         <div ui-view></div>
      </div> -->
      <div class="columns m-0">
         <div ui-view></div>
      </div>
   </div>
   <div class="modal-backdrop js-touch-events"></div>
</div>