<div id="js-contribution-activity" class="activity-listing contribution-activity" data-pjax-container="" style="min-height: 166px;">
   <div class="js-updatable-content js-socket-channel" data-channel="projects:metadata:1170160">
      <div class="markdown-body f5" style="padding-top: 0px !important;">
         <div class="container p-0">
            <div class="columns">
               <div class="four-fifths column">
                  <h3 class="f5 mb-2 mt-1">{{activeOrder.customer_name + ' - ' + activeOrder.customer_mobile}} <span class="pl-1 text-gray-light text-normal"></span></h3>
               </div>
               <div class="one-fifth column text-right">
                  <button type="button" class="btn-link link-gray mr-2 js-show-project-triage" aria-label="Add cards">
                     <svg aria-hidden="true" class="octicon octicon-plus" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                        <path fill-rule="evenodd" d="M12 9H7v5H5V9H0V7h5V2h2v5h5z"></path>
                     </svg>
                  </button>
                  <a rel="facebox.project-modal" class="btn-link link-gray" aria-label="Settings">
                     <svg aria-hidden="true" class="octicon octicon-gear" height="16" version="1.1" viewBox="0 0 14 16" width="14">
                        <path fill-rule="evenodd" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path>
                     </svg>
                  </a>
               </div>
            </div>
         </div>
         <div class="project-body-markdown">
            <p>
               <button type="submit" class="btn btn-danger" name="state" value="closed" ng-click="reportBadNumber()">
               Thông báo sai số
               </button>
            </p>
         </div>
         <textarea ng-model="noteContent.text" class="form-control input-block mt-4" id="fb_info_message" name="input_message" placeholder="Nội dung ghi chú..." autocomplete="on" note-enter="" data-hotkey="f"></textarea>
         <div class="form-actions mt-2 mb-2">
            <button type="submit" class="btn btn-sm" name="state" value="closed" ng-click="addNote()">
            Thêm ghi chú
            </button>
         </div>
      </div>
      <div class="flash flash-error mt-2 mb-2" ng-if="activeOrder.admin_note"><strong>Ghi chú của Admin: </strong>{{activeOrder.admin_note}}</div>
   </div>
   <div class="js-project-activity-pane overflow-auto Details">
      <form accept-charset="UTF-8" autocomplete="off" class="js-project-activity-form project-activity-form" method="get">
         <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
         <div class="border-bottom bg-yellow-light Details-content--hidden">
            <button class="btn-link ml-3 mt-2 mb-2 link-gray" type="submit">
            View new activity
            </button>
         </div>
      </form>
      <ul class="list-style-none js-project-activity-container">
         <li class="p-3 border-bottom d-block" ng-repeat="logItem in activeLog">
            <a class="d-table-cell pr-2" ng-if="logItem.type == 1">
               <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 40 40" name="circle" style="vertical-align: text-bottom; color: {{getStatusById(logItem.status_after).color}}; font-size: 14px; margin-left: 2px; margin-right: 0px; line-height: 24px;">
                  <g>
                     <path d="m37.3 20q0 4.7-2.3 8.6t-6.3 6.2-8.6 2.3-8.6-2.3-6.2-6.2-2.3-8.6 2.3-8.6 6.2-6.2 8.6-2.3 8.6 2.3 6.3 6.2 2.3 8.6z"></path>
                  </g>
               </svg>
            </a>
            <a class="d-table-cell pr-2" ng-if="logItem.type == 2">
               <svg aria-hidden="true" class="octicon octicon-comment v-align-middle" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                  <path fill-rule="evenodd" d="M14 1H2c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1h2v3.5L7.5 11H14c.55 0 1-.45 1-1V2c0-.55-.45-1-1-1zm0 9H7l-2 2v-2H2V2h12v8z"></path>
               </svg>
            </a>
            <p class="m-0 d-table-cell lh-condensed">
               <a class="text-bold">
               {{logItem.uname}}
               </a>
               {{logItem.type == 1 ? 'đã đánh dấu trạng thái' : 'đã ghi chú'}} <strong>"{{logItem.type == 1 ? getStatusById(logItem.status_after).name : logItem.content}}"</strong>
               <span class="mt-1 mb-0 f6 d-block text-gray-light">
                  vào lúc: {{logItem.updated_at | date: "HH:mm dd/MM"}}
               </span>
            </p>
         </li>
      </ul>
   </div>
</div>