<div style="height: {{windowsHeight-(55+45+75)}}px;">
   <div class="pin_stt" style="padding:10px">
      <div class="wrap_stt">
         <a href="//facebook.com/{{data.id}}" target="_blank" class="image_"><img ng-src="{{data.picture.data.url}}" alt=""></a>
         <a href="//facebook.com/{{data.id}}" target="_blank" class="title_stt">
         {{ data.name }}
         </a>
         <!-- <div ng-if="!finishGraphPostDetail" class="p6n-ls-wrapper" aria-hidden="true" style="text-align: center;">
            <pan-loader offline="offline" pan-buttertip-message="" pan-show-tip-if="offline" style="
               display: block;
               ">
               <div class="p6n-ls-container" ng-class="{'p6n-ls-offline' : isOffline}">  <span class="p6n-ls-node"></span>  <span class="p6n-ls-node"></span></div>
            </pan-loader>
         </div> -->
         <div ng-if="finishGraphPostDetail" style="padding-left: 15px">
            <a href="{{postData.permalink_url}}" target="_blank" style="font-size: 12px">{{postData.story}}</a>
            <span style="white-space: pre-line;display: block; text-align: left;overflow-y: hidden;{{isShowFullPost ? 'max-height: none' : 'max-height: 250px'}}">
            {{postData.message}}
            </span>
            <div ng-if="!isShowFullPost">
               <!-- <a ng-click="showFullPost()" style="cursor: pointer;">Xem thêm...</a> -->
               <button class="btn-link btn-sm mt-3 mb-3" ng-click="showFullPost()" aria-expanded="false" aria-label="Nếu sản phẩm không có trong danh mục">
                  <svg height="16" class="octicon octicon-chevron-down" viewBox="0 0 10 16" version="1.1" width="20" aria-hidden="true"><path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6z"></path></svg>
               Xem thêm...
               </button>
            </div>
            <div style="max-height: 90px;overflow-y: hidden;    margin: 15px 0;background: #eee;padding: 5px;">
               <span ng-repeat="image in postData.attachments.data[0].subattachments.data">
               <img ng-src="{{image.media.image.src}}" style="height: 80px">
               </span>
               <span>
               <img ng-src="{{postData.picture}}" style="height: 80px">
               </span>
            </div>
         </div>
         <!-- <div class="blankslate blankslate-clean-background" ng-if="conversation_type==1">
           <p>Chưa xác định bài viết khách hàng quan tâm. Khách hàng gửi tin nhắn trực tiếp.</p>
         </div> -->
      </div>
   </div>
   <div class="group-day" style="padding: 0 10px">
      <div class="conversation-start">
         <span>
            <p>{{conversation_type==1 ? 'Messages log' : 'Comments log'}}</p>
         </span>
      </div>
      <div class="group-time for-you" ng-if="finishGraphConversation">
         <div class="line_chat">
            <div class="chat_content">
               <span class="time_chat">
                  <!-- react-text: 11820 -->19:01<!-- /react-text --><!-- react-text: 11821 --><!-- /react-text -->
               </span>
               <a href="//facebook.com/{{conversation.from.id}}" target="_blank">
               <span style="background-image: url(&quot;{{conversation ? '//graph.facebook.com/' + conversation.from.id + '/picture?width=50&amp;height=50' : '';}}&quot;); border-radius: 24px; background-position: center center;"></span>
               </a>
               <h5 class="_ih3">{{conversation ? conversation.from.name : 'Unknown'}}</h5>
               <!-- <relative-time datetime="{{conversation.created_time}}" title="{{conversation.created_time}}"></relative-time> -->
               <div class="normal-text bubble you tooltipped tooltipped-no-delay tooltipped-e" aria-label="{{conversation ? conversation.created_time : 'Unknown'}}">{{conversation.message}}</div>
            </div>
            <!-- <div class="tooltip_comment">
               <div class="tooltip_action"></div>
               <div class="action_for_msg"><a>Thích </a><a>Xoá </a><a>Bỏ ẩn </a><a>Nhắn tin </a></div>
               </div> -->
         </div>
      </div>
      <div ng-if="finishGraphConversation" class="group-time" ng-repeat="m in conversation.comments.data" ng-class="m.from.id==page_id ? 'for-me' : 'for-you'">
         <div class="line_chat">
            <div class="chat_content">
               <!-- <span class="time_chat" style="top: 250.2px; left: 69%;">
                  19:07
                  <p class="user_reply"></p>
                  </span> -->
               <a ng-if="m.from.id!=page_id" href="//facebook.com/{{m.from.id}}" target="_blank">
               <span style="background-image: url(&quot;{{m.from ? '//graph.facebook.com/' + m.from.id + '/picture?width=50&amp;height=50' : '';}}&quot;); border-radius: 24px; background-position: center center;"></span>
               </a>
               <h5 class="_ih3">{{m.from.id!=page_id ? m.from.name : ''}}</h5>
               <!-- <relative-time datetime="{{m.created_time}}" title="{{m.created_time}}"></relative-time> -->
               <div class="normal-text bubble tooltipped tooltipped-no-delay {{m.from.id==page_id ? 'tooltipped-w me' : 'tooltipped-e you'}}" aria-label="{{m.created_time | date:'HH:mm dd/MM'}}" ng-class="m.attachment ? 'hasAttachments' : ''">{{m.message}}
                  <div ng-if="m.attachment" ng-repeat="image in m.attachment.media">
                     <img ng-src="{{image.src}}" style="width: 120px;height: auto;border-radius: 10px;    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);">
                  </div>
                  <div ng-if="m.shares.data">
                     {{m.shares.data.link}}
                     <span>{{m.shares.data.name}}</span>
                  </div>

               </div>
            </div>
         </div>
      </div>
      <!-- Messages -->
      <!-- {{messsageLog}} -->
      <div ng-if="messsageLog" class="group-time" ng-repeat="m in messsageLog.messages.data  | reverse" ng-class="m.from.id==page_id ? 'for-me' : 'for-you'">
         <div class="line_chat">
            <div class="chat_content">
               <!-- <span class="time_chat" style="top: 250.2px; left: 69%;">
                  19:07
                  <p class="user_reply"></p>
                  </span> -->
               <a ng-if="m.from.id!=page_id" href="//facebook.com/{{m.from.id}}" target="_blank">
               <span style="background-image: url(&quot;{{m.from ? '//graph.facebook.com/' + m.from.id + '/picture?width=50&amp;height=50' : '';}}&quot;); border-radius: 24px; background-position: center center;"></span>
               </a>
               <h5 class="_ih3">{{m.from.id!=page_id ? m.from.name : ''}}</h5>
               <div class="normal-text bubble tooltipped tooltipped-no-delay {{m.from.id==page_id ? 'tooltipped-w me' : 'tooltipped-e you'}}" aria-label="{{m.created_time | date:'HH:mm dd/MM'}}" ng-class="m.attachments || m.sticker ? 'hasAttachments' : ''">{{m.message}}
                  <!-- {{m.attachments.data[0].image_data.url}} -->
                  <div ng-if="m.attachments" ng-repeat="image in m.attachments.data">
                     <img ng-src="{{image.image_data.url}}" style="width: 120px;height: auto;border-radius: 10px;    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);">
                  </div>
                  <div ng-if="m.sticker">
                     <img ng-src="{{m.sticker}}" style="width: 50px;height: auto;border-radius: 10px;    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);">
                  </div>
                  <div ng-if="m.shares.data" style="float: right">
                     <img ng-src="{{detectSharesLink(m.shares.data[0].link)}}" style="height: 140px;border-radius: 6px;">
                     <!-- <span>{{m.shares.data[0].name}}</span> -->
                     <div>
                        <a target="_blank" href="{{m.shares.data[0].link}}">
                           <svg aria-hidden="true" class="octicon octicon-link-external select-menu-item-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                                 <path fill-rule="evenodd" d="M11 10h1v3c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h3v1H1v10h10v-3zM6 2l2.25 2.25L5 7.5 6.5 9l3.25-3.25L12 8V2H6z"></path>
                              </svg>
                        Xem trên facebook</a>
                     </div>
                  </div>
               </div>

               
            </div>
         </div>
      </div>
   </div>
</div>