<div class="border-right border-bottom border-left">
   <ul class="js-navigation-container js-active-navigation-container">
      <li id="issue_21406" class="Box-row Box-row--focus-gray p-0 js-navigation-item js-issue-row read" ng-repeat="order in orders | reverse | filter:query" ng-if="!order.seller_will_call_id">
         <div class="d-table table-fixed width-full Box-row--drag-hide position-relative">
            <!-- drag handles -->
            <!-- checkbox and issue open icon -->
            <div class="float-left pt-2 pl-3">
               <span class="tooltipped tooltipped-n" aria-label="Open pull request">
                  <input type="checkbox" checked="checked">
               </span>
            </div>
            <div class="float-left pt-2 pl-2">
            </div>
            <!-- Issue title column -->
            <div class="float-left col-9 p-2 lh-condensed">
               <a href="/angular/angular/pull/21406" class="link-gray-dark no-underline h4 js-navigation-open">
               {{order.customer_name}}
               </a>
               <span class="d-inline-block mr-1">
                  <div class="commit-build-statuses">
                     <a class="bg-pending tooltipped tooltipped-e" aria-label="3 / 5 checks OK" href="/angular/angular/pull/21406#partial-pull-merging">
                        <svg aria-hidden="true" class="octicon octicon-primitive-dot" height="16" version="1.1" viewBox="0 0 8 16" width="8">
                           <path fill-rule="evenodd" d="M0 8c0-2.2 1.8-4 4-4s4 1.8 4 4-1.8 4-4 4-4-1.8-4-4z"></path>
                        </svg>
                     </a>
                     Trạng thái
                  </div>
               </span>
               <div class="mt-1 text-small text-gray">
                  <span class="opened-by">
                     Đã gọi 3 lần, cuộc gọi cuối cùng lúc: 
                     <relative-time datetime="2018-01-09T10:03:06Z" title="Jan 9, 2018, 5:03 PM GMT+7">an hour ago</relative-time>
                     by
                     <a href="#" class="muted-link" title="Open pull requests created by ocombe">Dương</a>
                  </span>
                  <span class="d-inline-block">
                  </span>
                  <span class="issue-meta-section css-truncate issue-milestone ml-2">
                  </span>
               </div>
            </div>
            <div class="float-right col-2">
               <div class="float-left col-8 pt-2 pr-3 text-right">
                  <div class="AvatarStack AvatarStack--right ">
                     <div class="AvatarStack-body tooltipped tooltipped-sw tooltipped-multiline tooltipped-align-right-1 mt-1" aria-label="Assigned to Dương">Dương
                     </div>
                  </div>
               </div>
               <div class="float-right col-4 no-wrap pt-2 pr-3 text-right">
                  <a href="#" class="muted-link" aria-label="1 comment">
                     <!-- <svg aria-hidden="true" class="octicon octicon-comment v-align-middle" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                        <path fill-rule="evenodd" d="M14 1H2c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1h2v3.5L7.5 11H14c.55 0 1-.45 1-1V2c0-.55-.45-1-1-1zm0 9H7l-2 2v-2H2V2h12v8z"></path>
                     </svg>
                     <span class="text-small text-bold">1</span> -->
                     <svg aria-hidden="true" class="octicon octicon-pencil" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z"></path></svg>
                  </a>
               </div>
            </div>
         </div>
      </li>
   </ul>
</div>
<!-- Pagination -->
<div class="paginate-container">
   <div class="pagination"><span class="previous_page disabled">Previous</span> <em class="current">1</em> <a rel="next" href="/angular/angular/pulls?page=2&amp;q=is%3Apr+is%3Aopen">2</a> <a href="/angular/angular/pulls?page=3&amp;q=is%3Apr+is%3Aopen">3</a> <a href="/angular/angular/pulls?page=4&amp;q=is%3Apr+is%3Aopen">4</a> <a href="/angular/angular/pulls?page=5&amp;q=is%3Apr+is%3Aopen">5</a> <span class="gap">…</span> <a href="/angular/angular/pulls?page=13&amp;q=is%3Apr+is%3Aopen">13</a> <a href="/angular/angular/pulls?page=14&amp;q=is%3Apr+is%3Aopen">14</a> <a class="next_page" rel="next" href="/angular/angular/pulls?page=2&amp;q=is%3Apr+is%3Aopen">Next</a></div>
</div>
<!-- /Pagination -->