<div class="mb-3">
   <!-- <span><strong>Người gửi: </strong></span> -->
   <span>{{modalPreConfirmContent}}</span>
</div>
<div class="container mb-1">
   <div style="text-align: left;">
      <fieldset>
         <div class="row">
            <div class="col-md-7 pr-4">
               <div class="form-row">
                  <div class="form-group col-md-6">
                     <label for="country">Tên người nhận</label>
                     <!-- <label for="customer_name">Tên người nhận</label> -->
                     <input type="text" class="form-control" id="customer_name" placeholder="Tên người nhận" ng-model="orderData.RECEIVER_FULLNAME">
                  </div>
                  <div class="form-group col-md-6">
                     <label for="country">Số điện thoại</label>
                     <!-- <label for="customer_mobile">Số ĐT người nhận</label> -->
                     <input type="text" class="form-control" id="customer_mobile" placeholder="Số ĐT người nhận" ng-model="orderData.RECEIVER_PHONE">
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-12">
                     <label for="country">Địa chỉ</label>
                     <!-- <label for="customer_address">Địa chỉ nhận hàng</label> -->
                     <input type="text" class="form-control" id="customer_address" placeholder="Địa chỉ nhận hàng" ng-model="orderData.RECEIVER_ADDRESS">
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-7">
                     <label for="country">Quận/huyện</label>
                      <select class="form-control form-select" select2 ng-model="currentDistrict" placeholder="Pick a number" 
                        ng-options="s as (s.DISTRICT_NAME + ' - ' + s.PROVINCE_NAME) for s in viettel_districs" ng-change="onDistrictChange(currentDistrict)">
                        <option value=""></option>
                     </select>
                  </div>
                  <div class="form-group col-md-5">
                     <label for="country">Phường/Xã</label>
                     <select class="form-control form-select" select2 ng-model="orderData.RECEIVER_WARD" placeholder="Pick a number" 
                        ng-options="s.WARDS_ID as s.WARDS_NAME for s in viettel_wards">
                        <option value=""></option>
                     </select>
                  </div>
               </div>
               <div  class="form-row">
                  <div class="form-group col-md-12">
                     <label for="country">Ghi chú giao hàng</label>
                     <!-- <input type="text" class="form-control" id="customer_name" placeholder="Ghi chú giao hàng"> -->
                     <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Các yêu cầu khi giao hàng" ng-model="orderData.ORDER_NOTE"></textarea>
                  </div>
               </div>
               <hr>
               <div class="form-row">
                  <div class="form-group col-md-12">
                     
                     <div class="row">
                        <div class="form-group col-md-3" style="padding-right: 0">
                        	<label for="country">Dài (cm)</label>
                           <input type="text" class="form-control" id="customer_name" ng-model="orderData.PRODUCT_LENGTH">
                        </div>
                        <div class="form-group col-md-3" style="padding-right: 0">
                        	<label for="country">Rộng (cm)</label>
                           <input type="text" class="form-control" id="customer_name" ng-model="orderData.PRODUCT_WIDTH">
                        </div>
                        <div class="form-group col-md-3" style="padding-right: 0">
                        	<label for="country">Cao (cm)</label>
                           <input type="text" class="form-control" id="customer_name" ng-model="orderData.PRODUCT_HEIGHT">
                        </div>
                        <div class="form-group col-md-3">
                        	<label for="country">T.L (gram)</label>
                           <input type="text" class="form-control" id="customer_name" ng-model="orderData.PRODUCT_WEIGHT" ng-blur="calculateShippingFee()">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-5 pl-4" style="border-left: 1px solid #eee;">
               <div class="form-row">
                  <div class="form-group col-md-12">
                     <label for="country">Dịch vụ chuyển phát</label>
                     <select class="form-control form-select" select2 ng-model="orderData.ORDER_SERVICE" data-placeholder="Pick a number" ng-change="calculateShippingFee()"
                        ng-options="s.SERVICE_CODE as s.SERVICE_NAME for s in services">
                        <option value=""></option>
                     </select>
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-12">
                     <label for="country">Tiền thu hộ (COD)</label>
                     <input type="text" class="form-control" id="customer_name" placeholder="Nhập số tiền thu hộ"
                     ng-model="orderData.MONEY_COLLECTION">
                  </div>
               </div>
               <hr>
               <div class="form-row">
                  <div class="form-group col-md-12">
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="pick_at_hub" ng-model="pick_at_hub" ng-change="onPickAtHubChange()">
                        <label class="custom-control-label" for="pick_at_hub">Gửi hàng tại bưu cục</label>
                        <small id="passwordHelpBlock" class="form-text text-muted">
						  Giảm 10% cước phí gửi hàng
						</small>
                     </div>
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-12">
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customer_check" ng-model="customer_check">
                        <label class="custom-control-label" for="customer_check">Cho khách xem hàng</label>
                     </div>
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-12">
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customer_pay" ng-model="customer_paid" ng-change="onCustomerPaidChange()">
                        <label class="custom-control-label" for="customer_pay">Khách hàng thanh toán cước</label>
                     </div>
                  </div>
               </div>
               <hr>
               <div style="float:right">
               	<div class="has-shipping-fee">
                     
               		<span>Cước phí gửi hàng </span>
                     <span class="_52tg img _55ym _55yq _55yo" role="progressbar" aria-valuetext="Loading..." aria-busy="true" aria-valuemin="0" aria-valuemax="100" ng-if="is_calculating_price"></span>
               		<span class="badge badge-success" ng-if="!is_calculating_price">{{orderData.MONEY_TOTALFEE | number: 0}}</span>
                     <!-- <span> VNĐ</span> -->
               	</div>
               	<!-- <div class="calculating-shipping-fee" ng-if="is_calculating_price == true">
               		<span>Đang tính cước phí gửi hàng... {{orderData.RECEIVER_DISTRICT}}</span>
               	</div> -->
               	<div class="missing-shipping-fee" ng-if="fee_data">
               		<!-- <pre>{{orderData | json}}</pre> -->
                     <ul class="fee-data-list">
                        <li ng-repeat="feeItem in fee_data | reverse" ng-if="feeItem.PRICE > 0">
                           <span>{{feeItem.SERVICE_NAME}} : <strong>{{feeItem.PRICE | number: 0}}</strong></span>
                        </li>
                     </ul>
               	</div>
               </div>
            </div>
         </div>
      </fieldset>
   </div>
</div>