<div class="border-right border-bottom border-left">
   <ul class="js-navigation-container js-active-navigation-container">
      <li id="issue_21406" class="Box-row Box-row--focus-gray p-0 js-navigation-item js-issue-row read" ng-repeat="order in canAsignOrders" ng-click="toggleSelectAnOrder(order)" style="cursor:pointer;">
         <div class="d-table table-fixed width-full Box-row--drag-hide position-relative">
            <!-- drag handles -->
            <!-- checkbox and issue open icon -->
            <div class="float-left pt-2 pl-3">
               <span class="tooltipped tooltipped-n" aria-label="Open pull request">
                  <input type="checkbox" ng-model="order.selected">
               </span>
            </div>
            <div class="float-left pt-2 pl-2">
            </div>
            <!-- Issue title column -->
            <div class="float-left col-9 p-2 lh-condensed">
               <a class="link-gray-dark no-underline h4 js-navigation-open customer-name {{order.is_bad_number==1 ? 'bad-number' : ''}}">
               {{order.customer_name}}
               <span ng-if="order.selected">(Đã chọn)</span>
               </a>
               <span class="d-inline-block mr-1">
                  <div class="commit-build-statuses">
                     <a class="" style="color:{{filterById(statuses, order.status_id).color}}">
                        <svg aria-hidden="true" class="octicon octicon-primitive-dot" height="16" version="1.1" viewBox="0 0 8 16" width="8">
                           <path fill-rule="evenodd" d="M0 8c0-2.2 1.8-4 4-4s4 1.8 4 4-1.8 4-4 4-4-1.8-4-4z"></path>
                        </svg>
                     </a>
                     {{filterById(statuses, order.status_id).name}}
                     <span class="tag_item tooltipped tooltipped-s" style="color:#cb2431" ng-if="order.is_bad_number==1" aria-label="Sai số">
                        <svg height="16" class="octicon octicon-stop" viewBox="0 0 14 16" version="1.1" width="16"><path fill-rule="evenodd" d="M10 1H4L0 5v6l4 4h6l4-4V5l-4-4zm3 9.5L9.5 14h-5L1 10.5v-5L4.5 2h5L13 5.5v5zM6 4h2v5H6V4zm0 6h2v2H6v-2z"></path></svg>
                     </span>
                  </div>
               </span>
               <div class="mt-1 text-small text-gray">
                  <span class="opened-by">
                     Tạo lúc {{order.publish_date | date:'HH:mm dd/MM'}} | {{order.customer_mobile}} {{order.activeLog ? 'Có ' + order.activeLog.length + ' hoạt động được ghi nhận' : 'Chưa có hoạt động nào được ghi nhận'}}
                  </span>
                  <span class="d-inline-block">
                  </span>
                  <span class="issue-meta-section css-truncate issue-milestone ml-2">
                  </span>
               </div>
            </div>
            <div class="float-right col-2">
               <div class="float-left col-8 pt-2 pr-3 text-right">
                  <div class="AvatarStack AvatarStack--right " ng-init="owner = filterById(telesales, order.seller_will_call_id).last_name">
                     <div class="AvatarStack-body tooltipped tooltipped-sw tooltipped-multiline tooltipped-align-right-1 mt-1" aria-label="Đã phân bổ cho {{owner}}">
                        <span class="Counter p-2" ng-if="owner">{{owner}}</span>
                     </div>
                  </div>
               </div>
               <div class="float-right col-4 no-wrap pt-2 pr-3 text-right">
                  <a class="muted-link" ng-if="order.notAllowPush">
                     <svg height="16" class="octicon octicon-circle-slash tooltipped tooltipped-sw" viewBox="0 0 14 16" version="1.1" width="16" aria-label="Đã được phân bổ"><path fill-rule="evenodd" d="M7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm0 1.3c1.3 0 2.5.44 3.47 1.17l-8 8A5.755 5.755 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zm0 11.41c-1.3 0-2.5-.44-3.47-1.17l8-8c.73.97 1.17 2.17 1.17 3.47 0 3.14-2.56 5.7-5.7 5.7z"></path></svg>
                     <!-- <svg aria-hidden="true" class="octicon octicon-pencil" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z"></path></svg> -->
                  </a>
               </div>
            </div>
         </div>
      </li>
   </ul>
</div>
<!-- Pagination -->
<div class="paginate-container">
   <div class="pagination">
      <a class="next_page" ng-class="canLoadMore==false ? 'disabled' : ''" style="padding:0" rel="next" ng-click="getNextOrders()">
      <span ng-if="isLoaddingOrder" style="border:none">
         Đang tải Orders...
      </span>
      <span ng-if="canLoadMore && !isLoaddingOrder" style="border:none">
         Tải thêm Orders
      </span>
      <span ng-if="canLoadMore==false" style="border:none">
         Đã tải tất cả Orders
      </span>
   </a>
   </div>
</div>
<!-- /Pagination -->