<div class="_219p" style="position: relative; pointer-events: auto; transform: translate3d(0px, 28px, 0px); backface-visibility: hidden;"
                        >
   <div class="_1gda _2djg {{order.is_changing == true ? 'is_changing' : ''}}" style="width: 778px; height: 55px; z-index: 0;"
      ng-repeat="order in (canAsignOrders | pushOrdersFilter:filterStatus) track by $index"
      ng-if="order.id"
      ng-click="toggleSelectAnOrder(order)">
      <div class="_1gd4 _4li _52no" 
      ng-class="order.selected ? '_30p6 _4qqm _d_0 _3c7k' : '_m3c _3c7k'"
      data-testid="FixedDataTableRow" role="presentation" style="width: 778px; height: 55px;">
         <div class="_1gd5">
            <div class="_3pzk" style="height: 55px; left: 0px;">
               <div class="_3pzj" style="height: 55px; position: relative; width: 778px; z-index: 0; transform: translate3d(0px, 0px, 0px); backface-visibility: hidden;">
                  <div class="_4lg0 _4h2m" style="height: 55px; width: 36px; left: 0px;">
                     <div datakey="select" class="_4lgc _4h2u" width="36" columndata="[object Object]" columnkey="select" height="55" rowindex="0" style="height: 55px; width: 36px;">
                        <div class="_4lgd _4h2w">
                           <div class="_4lge _4h2x">
                              <div data-testid="PUBLISHED_POSTScheckbox" class="_4h2r"><button aria-checked="false" aria-disabled="false" class="_1gcq _29c- _1gco _5e9w" role="checkbox" style="border-color: rgb(218, 221, 225); background-color: rgb(255, 255, 255);"><i aria-hidden="true" class="_3w08 accessible_elem img {{order.selected ? 'sp_H9pzGrhptNk_1_5x' : ''}} sx_76991b" alt="" style="left: 0px; top: 0px;"></i></button></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="_4lg0 _4h2m" style="height: 55px; width: 372px; left: 36px;">
                     <div datakey="POST" class="_4lgc _4h2u" width="372" columndata="[object Object]" columnkey="POST" height="55" rowindex="0" style="height: 55px; width: 372px;">
                        <div class="_4lgd _4h2w">
                           <div class="_4lge _4h2x">
                              <a class="_2pir">
                                 <img ng-src="assets/images/default-avatar-contact.svg" class="_1drw img" alt="">
                                 <div class="_1drx">
                                    <div class="_4ik4 _4ik5" style="-webkit-line-clamp: 2;">
                                       <div class="_1dry">
                                          {{order.customer_name + ' / ' + order.customer_mobile}}
                                          <span class="" style="color:red" ng-if="order.is_bad_number">
                                             <svg class="octicon gridicon gridicons-notice" height="14" width="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g><path d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zm1 15h-2v-2h2v2zm0-4h-2l-.5-6h3l-.5 6z"></path></g></svg>
                                             Sai số
                                          </span>
                                       </div>
                                    </div>
                                    <div class="_55jr">
                                       
                                       <span class="icon">
                                          <svg class="octicon gridicon gridicons-quote" height="12" width="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g><path d="M11.192 15.757c0-.88-.23-1.618-.69-2.217-.326-.412-.768-.683-1.327-.812-.55-.128-1.07-.137-1.54-.028-.16-.95.1-1.956.76-3.022.66-1.065 1.515-1.867 2.558-2.403L9.373 5c-.8.396-1.56.898-2.26 1.505-.71.607-1.34 1.305-1.9 2.094s-.98 1.68-1.25 2.69-.346 2.04-.217 3.1c.168 1.4.62 2.52 1.356 3.35.735.84 1.652 1.26 2.748 1.26.965 0 1.766-.29 2.4-.878.628-.576.94-1.365.94-2.368l.002.003zm9.124 0c0-.88-.23-1.618-.69-2.217-.326-.42-.77-.692-1.327-.817-.56-.124-1.074-.13-1.54-.022-.16-.94.09-1.95.75-3.02.66-1.06 1.514-1.86 2.557-2.4L18.49 5c-.8.396-1.555.898-2.26 1.505-.708.607-1.34 1.305-1.894 2.094-.556.79-.97 1.68-1.24 2.69-.273 1-.345 2.04-.217 3.1.165 1.4.615 2.52 1.35 3.35.732.833 1.646 1.25 2.742 1.25.967 0 1.768-.29 2.402-.876.627-.576.942-1.365.942-2.368v.01z"></path></g></svg>
                                       </span>
                                       <span ng-repeat="c in order.active_log">
                                          <!-- <span ng-if="c.type == 1">
                                             <a class=""  style="color:{{filterById(statuses, c.status_after).color}}">
                                                <svg class="octicon octicon-primitive-dot mr-1 checklist-dot" aria-label="Not added yet" viewBox="0 0 8 16" version="1.1" width="8" height="16" role="img"><path fill-rule="evenodd" d="M0 8c0-2.2 1.8-4 4-4s4 1.8 4 4-1.8 4-4 4-4-1.8-4-4z"></path></svg>
                                             </a>
                                          </span> -->
                                          <span ng-if="c.type == 2">
                                             <strong>{{c.uname}}</strong>: "{{c.content}}"</span>
                                       </span>
                                       <span ng-if="order.admin_note">
                                          <span class="">
                                             <svg class="octicon gridicon gridicons-notice" height="14" width="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g><path d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zm1 15h-2v-2h2v2zm0-4h-2l-.5-6h3l-.5 6z"></path></g></svg>
                                          </span>
                                          <span>{{order.admin_note}}</span>
                                       </span>
                                    </div>
                                 </div>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="_4lg0 _4h2m" style="height: 55px; width: 80px; left: 408px;">
                     <div datakey="REACH" class="_4lgc _4h2u" width="80" columndata="[object Object]" columnkey="REACH" height="55" rowindex="0" style="height: 55px; width: 80px;">
                        <div class="_4lgd _4h2w">
                           <div class="_4lge _4h2x">
                              <div class="_qea">
                                 <div class="ellipsis">
                                    {{findById(statuses, order.status_id).name}}
                                 </div>
                                 <div class="_5kmz _qec">
                                    <div class="_5kn4 _11uq">
                                       <div class="_5abm" data-hover="tooltip" data-tooltip-content="8,595" id="js_2lt" style="width: 100%;">
                                          <div class="_5abn" style="background-color: {{findById(statuses, order.status_id).color}}; width: 100%;opacity: {{findById(statuses, order.status_id).id == 1 ? 1 : 0.15;}}"></div>
                                          <div class="_352g"></div>
                                       </div>
                                       <div class="_5kn5">
                                          <div class="_5kn0">
                                             <div class="_5kn1"></div>
                                             <div class="_5kn2">8,595</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="_4lg0 _4h2m" style="height: 55px; width: 140px; left: 488px;">
                     <div datakey="ENGAGEMENT" class="_4lgc _4h2u" width="140" columndata="[object Object]" columnkey="ENGAGEMENT" height="55" rowindex="0" style="height: 55px; width: 140px;">
                        <div class="_4lgd _4h2w">
                           <div class="_4lge _4h2x">
                              <div class="_qea {{findById(telesales_arr, order.seller_will_call_id).is_mask ? 'is_mask' : ''}}" ng-if="findById(telesales_arr, order.seller_will_call_id)">
                                 <div>
                                 <svg height="16" class="svg_mask octicon octicon-eye" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg>
                                 {{findById(telesales_arr, order.seller_will_call_id).last_name}}</div>
                                 <div class="_5kmz _qec">
                                    <div class="_5kn4 _11uq">
                                       <div class="__qa _2tr- _2m-z _3-8x _5ag0" style="width: 100px;"><div class="_65ab __q6"><div class="__q7" style="width: {{(findById(telesales_arr, order.seller_will_call_id).report.successCount/findById(telesales_arr, order.seller_will_call_id).report.calledCount)*100}}%;"></div></div></div>
                                    </div>
                                 </div>
                              </div>
                              <div ng-if="!findById(telesales_arr, order.seller_will_call_id)">
                                 <span class="ml-3">N/A </span>
                                 <!-- <button class="_4jy0 _4jy3 _517h _51sy _42ft ml-1" type="submit" value="1" ng-click="alert('Hiển thị danh sách telesales')" ><i alt="" class="img sp_v9KMcXDNWLt_1_5x sx_ab8b10"></i><span class="accessible_elem">Phân bổ</span></button> -->
                              </div>
                              
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="_4lg0 _4h2m" style="height: 55px; width: 150px; left: 628px;">
                     <div datakey="PUBLISHED_DATE" class="_4lgc _4h2u" width="163" columndata="[object Object]" columnkey="PUBLISHED_DATE" height="55" rowindex="0" style="height: 55px; width: 150px;">
                        <div class="_4lgd _4h2w">
                           <div class="_4lge _4h2x">
                              <div data-hover="tooltip" data-tooltip-content="Mar 9, 2018 at 6:48pm" class="_4h2r" id="js_1ip">
                                 <div class="_477n">
                                    <div class="_4ik4 _4ik5" style="-webkit-line-clamp: 1;">
                                       <span am-time-ago="order.publish_date"></span>
                                    </div>
                                 </div>
                                 <div class="_1rus">
                                    <div>
                                       <span am-time-ago="sellerData.lastSuccessAt"></span>

                                    </div>
                                    <div>{{order.publish_date | date:'h:mma dd/MM/yyyy'}}</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a ng-click="showChatBox(order); $event.stopPropagation();" class="js-zc-conditional show-chat-log" data-clipboard-text="" style="position: absolute;z-index: 9999;    top: 15px;right: 10px;">
                      <svg height="16" class="octicon octicon-code" viewBox="0 0 14 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M9.5 3L8 4.5 11.5 8 8 11.5 9.5 13 14 8 9.5 3zm-5 0L0 8l4.5 5L6 11.5 2.5 8 6 4.5 4.5 3z"></path></svg>
                    </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>