<div class="column three-fourths">
   <div class="graph-canvas is-graph-loading" ng-if="!finishLoading">
      <div class="activity">
         <img class="graph-loading dots" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-128.gif" width="64" alt="">
         <div class="graph-loading msg">
            <p>Crunching the latest data, just for you. Hang tight…</p>
         </div>
         <div ng-show="successArr | isEmpty" class="graph-empty msg mt-6">
            <h4>We don’t have enough data to show anything useful.</h4>
            <p>It usually takes about a week to populate this graph.</p>
         </div>
         <div class="graph-no-usable-data msg mt-6">
            <p>We need at least one non-empty commit with an email to generate this graph.</p>
         </div>
      </div>
   </div>
   <div class="flash flash-warn mb-2" ng-if="finishLoading">
	  <svg aria-hidden="true" class="octicon octicon-issue-opened" height="16" version="1.1" viewBox="0 0 14 16" width="14">
	   <path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path>
	</svg>
	  Có <strong>{{notAssignedArr.length}}</strong> số chưa được phân bổ. 
      <span ng-repeat="(key, value) in notAssignedArr | countBy: 'status_id'">
         &nbsp;Status Id: {{ key}}, số lượng: {{ value }}&nbsp;
      </span>
      Click <a href="#" rel="nofollow">vào đây</a> để tiến hành phân bổ.
	</div>
   <!-- <span ng-if="!finishLoading">Loading data, please wait...</span> -->
   <div class="blankslate blankslate-spacious blankslate-large" ng-if="finishLoading && successArr.length == 0">
      <svg aria-hidden="true" class="octicon octicon-issue-opened blankslate-icon" height="40" version="1.1" viewBox="0 0 14 16" width="35">
         <path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path>
      </svg>
      <h3>No data to display!</h3>
      <p>Issues are used to track todos, bugs, feature requests, and more. As issues are created, they’ll appear here in a searchable and filterable list. To get started, you should <a href="/enesyteam/meovn/issues/new">create an issue</a>.</p>
   </div>
   <!-- Chart data -->
   <div>
      <div class="border rounded-1" ng-if="finishLoading">
         <div class="bg-gray p-3 border-bottom">
            <div class="float-right table-list-header-toggle states">
               <!-- '"` --><!-- </textarea></xmp> -->
               <form accept-charset="UTF-8" action="" method="get">
                  <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
                  <div class="float-left select-menu js-menu-container js-select-menu js-transitionable">
                     <button class="btn-link select-menu-button icon-only js-menu-target" type="button" aria-expanded="false" aria-haspopup="true">
                     Sắp xếp<span class="sort-label"></span>
                     </button>
                     <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-expanded="false">
                        <div class="select-menu-modal">
                           <div class="select-menu-header js-navigation-enable" tabindex="-1">
                              <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12">
                                 <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
                              </svg>
                              <span class="select-menu-title">Chọn tiêu chí sắp xếp</span>
                           </div>
                           <div class="select-menu-list" role="menu">
                              <a ng-repeat="sortItem in sortArr" ng-click="changeSortProperty(sortItem)" class="select-menu-item width-full js-navigation-item js-navigation-open selected" role="menuitem">
                                 <svg ng-if="sortItem.property == sortProperty" aria-hidden="true" class="octicon octicon-check select-menu-item-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                                    <path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path>
                                 </svg>
                                 <div class="select-menu-item-text">{{sortItem.name}}</div>
                              </a>
                              
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            <div class="table-list-header-toggle states">
               <a href="/x64dbg/x64dbg/projects?query=is%3Aopen" class="btn-link selected">
                  <svg aria-hidden="true" class="octicon octicon-organization" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                     <path fill-rule="evenodd" d="M16 12.999c0 .439-.45 1-1 1H7.995c-.539 0-.994-.447-.995-.999H1c-.54 0-1-.561-1-1 0-2.634 3-4 3-4s.229-.409 0-1c-.841-.621-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.442.58 2.5 3c.058 2.41-.159 2.379-1 3-.229.59 0 1 0 1s1.549.711 2.42 2.088C9.196 9.369 10 8.999 10 8.999s.229-.409 0-1c-.841-.62-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.437.581 2.495 3c.059 2.41-.158 2.38-1 3-.229.59 0 1 0 1s3.005 1.366 3.005 4"></path>
                  </svg>
                  Đã tham gia hôm nay
                  <span class="Counter v-align-middle">
                      {{activedSellers}}
                    </span>
               </a>

            </div>
         </div>
         <div id="projects-results">
            <div class="p-3 pr-6 container-lg clearfix position-relative border-bottom border-gray-light" data-filter-value="Ramblings" ng-repeat="sellerData in chartData | orderBy:sortProperty:true" ng-if="sellerData.data.called.length > 0">
               <div class="col-12 col-md-4 pr-2 float-left" ng-init="w = sellerData.data.success.length/((chartData | max: 'data.success.length').data.success.length)*100">
                	<span class="d-inline-block">
                		<h4 class="mb-1">
            				<div class="spinner" style="display: inline-block;" ng-if="orderChanging"></div>
				          <a href="#" class="link-gray-dark">
				            {{ sellerData.name }}
				          </a>
				        </h4>
                	</span>
			        <span class="label v-align-text-top d-inline-block" style="background-color: #EEEEEE; color: #333333">
			        	{{sellerData.fullName}}
			        </span>
                  <div class="mt-1 pr-5 mb-2 mb-md-0" style="width: {{w > 50 ? w : 40;}}%">
                     <!-- <div class="tooltipped tooltipped-s" aria-label="{{'Gọi ' + sellerData.data.called + '/ Chốt ' + sellerData.data.success + '/' + ' thất bại ' + sellerData.data.failed}}">
                        <span class="progress-bar progress-bar-small">
                        <span class="progress d-inline-block bg-green" style="width: {{sellerData.data.success/sellerData.data.called*100}}%;">&nbsp;</span>
                        <span class="progress d-inline-block bg-purple" style="width: {{sellerData.data.failed/sellerData.data.called*100}}%;">&nbsp;</span>
                        </span>
                     </div> -->
                     <div class="tooltipped tooltipped-s" aria-label="{{'Gọi ' + sellerData.data.called.length + '/ Chốt ' + sellerData.data.success.length + '/' + ' thất bại ' + sellerData.data.failed.length}}">
					  <span class="progress-bar progress-bar-small" ng-init="cw = sellerData.data.success.length/sellerData.data.called.length*100">
					    <span class="progress-bar progress-bar-small">
					    <span class="progress d-inline-block bg-green" style="width: {{cw}}%">&nbsp;</span>
					    <span class="progress d-inline-block bg-red" style="width: {{(sellerData.data.failed.length/sellerData.data.called.length*100)}}%">&nbsp;</span>
					    <span class="progress d-inline-block bg-yellow" style="width: {{(sellerData.data.miss.length.length + sellerData.data.busy.length + sellerData.data.cancel.length + sellerData.data.bad.length)/sellerData.data.called.length*100}}%">&nbsp;</span>
					    <!-- <span class="progress d-inline-block bg-purple" style="width: {{sellerData.data.busy.length/sellerData.data.called.length*100}}%">&nbsp;</span>
					    <span class="progress d-inline-block bg-gray" style="width: {{sellerData.data.cancel.length/sellerData.data.called.length*100}}%">&nbsp;</span> -->
					  </span>
					  </span>
					</div>
                  </div>
                  <div class="f6 pr-sm-5 mb-2 mt-2 mb-md-0 text-gray-light">
                  	<span ng-if="w<50" class="tooltipped tooltipped-s" aria-label="Đồ thị đã được tăng lên nhằm mục đích hiển thị.">
                  		<svg aria-hidden="true" class="octicon octicon-question" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M6 10h2v2H6v-2zm4-3.5C10 8.64 8 9 8 9H6c0-.55.45-1 1-1h.5c.28 0 .5-.22.5-.5v-1c0-.28-.22-.5-.5-.5h-1c-.28 0-.5.22-.5.5V7H4c0-1.5 1.5-3 3-3s3 1 3 2.5zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"></path></svg>
                  	</span>
                     <svg aria-hidden="true" class="octicon octicon-clock" height="16" version="1.1" viewBox="0 0 14 16" width="14">
                        <path fill-rule="evenodd" d="M8 8h3v2H7c-.55 0-1-.45-1-1V4h2v4zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"></path>
                     </svg>
                     Vừa chốt
                     <relative-time datetime="2017-11-16T16:49:16Z" title="Nov 16, 2017, 11:49 PM GMT+7">on Nov 16, 2017</relative-time>
                  </div>
               </div>
               <div class="col-12 col-md-8 float-left text-gray-light">
                  <p>
                  	 Đã thực hiện&nbsp;
                  	<strong>
                  		{{sellerData.data.called.length}}&nbsp;cuộc gọi,&nbsp;
                  	</strong> 
                  	<strong style="color: #28a745;">
                  		chốt&nbsp;{{sellerData.data.success.length }} 
                  	</strong>
                  	<span>
                  		<strong style="color: #cb2431;">
	                  		,&nbsp;thất bại&nbsp;{{ sellerData.data.failed.length }} 
	                  	</strong>
                  	</span>
                  	, còn&nbsp;
                  	<span>
                  		<span class="label v-align-text-top" style="background-color: #EEEEEE; color: #333333">
                  			{{sellerData.data.notCalled.length}}
                  		</span>
                  	&nbsp;số chưa gọi. <br /> Hiệu suất chốt đơn tại thời điểm hiện tại là <strong> {{sellerData.data.success.length/sellerData.data.called.length*100 | number:2}}%</strong>
                  	</span>
                     <span class="issue-meta-section task-progress ml-2"><svg aria-hidden="true" class="octicon octicon-checklist" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M16 8.5l-6 6-3-3L8.5 10l1.5 1.5L14.5 7 16 8.5zM5.7 12.2l.8.8H2c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h7c.55 0 1 .45 1 1v6.5l-.8-.8c-.39-.39-1.03-.39-1.42 0L5.7 10.8a.996.996 0 0 0 0 1.41v-.01zM4 4h5V3H4v1zm0 2h5V5H4v1zm0 2h3V7H4v1zM3 9H2v1h1V9zm0-2H2v1h1V7zm0-2H2v1h1V5zm0-2H2v1h1V3z"></path></svg><span class="task-progress-counts">2 of 3</span><span class="progress-bar v-align-middle"><span class="progress" style="width: {{(sellerData.data.called.length/(sellerData.data.called.length + sellerData.data.notCalled.length)*100)}}%"></span></span></span>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- {{chartData}} -->
   <!-- /Chart data -->
   <!-- <div ng-repeat="(key, value) in successArr | countBy: 'checked_by'">
      <div class="one-half column" style="height: 20px;padding-top: 10px;">
      	<div class="mt-1 pr-5 mb-2 mb-md-0">
      	   <div class="tooltipped tooltipped-s" aria-label="1 done / 0 in progress / 0 to do">
      	      <span class="progress-bar progress-bar-small">
      	      <span class="progress d-inline-block bg-green" style="width: 56%;">&nbsp;</span><span class="progress d-inline-block bg-purple" style="width: 33%;">&nbsp;</span>
      	      </span>
      	   </div>
      	</div>
         </div>
         <div class="one-half column">
         	<div class="one-third column">
            {{ key }}
          </div>
          <div class="one-third column">
            {{ value }}
          </div>
          <div class="one-third column">
            50%
          </div>
         </div>
      </div> -->
</div>