<div class="row_col_right">
   <div class="header_col_right">
      <div class="a_left">
         <span class="arow_show_sidebar open_list_chat"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></span>
         <span class="f_name">
            Chốt bởi <strong>{{filterById(telesales, activedItem.data.orderData.seller_will_call_id).last_name || 'Không rõ'}}</strong> lúc {{activedItem.created_time | date: 'HH:mm dd/MM/yyyy'}}
         </span>
         <div class="f_profile"></div>
      </div>
      <div class="a_right">
         <div style="display: inline-block;">
            <div class="float-right">
               <div class="BtnGroup">
                  <a class="btn btn-default btn-sm btn-outline BtnGroup-item  dropdown-details details-reset status-bar" href="/printing#/PrintInvoice/id={{activedItem.id}}" target="_blank">
                     <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 40 40" name="circle" style="vertical-align: text-bottom; color: {{status.color}}; font-size: 14px; margin-left: 2px; margin-right: 0px; line-height: 24px;">
                        <g>
                           <path d="m37.3 20q0 4.7-2.3 8.6t-6.3 6.2-8.6 2.3-8.6-2.3-6.2-6.2-2.3-8.6 2.3-8.6 6.2-6.2 8.6-2.3 8.6 2.3 6.3 6.2 2.3 8.6z"></path>
                        </g>
                     </svg>
                     In phiếu xuất kho
                  </a>
                  <!-- <a class="btn btn-default btn-sm btn-outline BtnGroup-item btn-purple dropdown-details details-reset status-bar" ng-click="changeStatus(status)" ng-class="activedItem.orderCode ? '' : 'disabled'"
                  href="/printing#/printShipping/id={{activedItem.orderCode}}&time={{activedItem.push_to_ghn_at}}" target="_blank">
                     <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 40 40" name="circle" style="vertical-align: text-bottom; color: {{status.color}}; font-size: 14px; margin-left: 2px; margin-right: 0px; line-height: 24px;">
                        <g>
                           <path d="m37.3 20q0 4.7-2.3 8.6t-6.3 6.2-8.6 2.3-8.6-2.3-6.2-6.2-2.3-8.6 2.3-8.6 6.2-6.2 8.6-2.3 8.6 2.3 6.3 6.2 2.3 8.6z"></path>
                        </g>
                     </svg>
                     In phiếu giao hàng
                  </a> -->
               </div>
               
            </div>
         </div>
      </div>
   </div>
   <div class="inner_col_left">
      <div class="col_message guard-wrapper">
         <div class="chat_body">
            <div class="list-mes">
               <div class="wrap_body_chat chat active-chat" style="overflow-x: hidden; overflow-y: auto;">
                  <div ng-include="'/src/realtime/pages/orders/widgets/post-detail.html'"></div>
               </div>
               <div ng-if="startReplying" class="p6n-ls-wrapper" aria-hidden="true" style="display: block;position: absolute;bottom: 0;left: 15px;">
                  <pan-loader offline="offline" pan-buttertip-message="" pan-show-tip-if="offline" style="
                     display: block;
                     ">
                     <div class="p6n-ls-container" ng-class="{'p6n-ls-offline' : isOffline}">  <span class="p6n-ls-node"></span>  <span class="p6n-ls-node"></span></div>
                  </pan-loader>
               </div>
               <div class="write_chat">
                  
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="inner_col_right">
      <div class="log" style="padding: 15px;  margin: 0;overflow: auto;overflow-x: hidden;height: calc(100% - 45px);" ng-include="'/src/print/widgets/products.html'"></div>
   </div>
</div>