<!-- <div class="graph-canvas is-graph-loading" ng-if="isLoaddingOrder">
   <div class="activity">
      <img class="graph-loading dots" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-128.gif" width="64" alt="">
      <div class="graph-loading msg">
         <p>Đang tải dữ liệu Orders…</p>
      </div>
      <div ng-if="canAsignOrders.length == 0" class="graph-empty msg mt-6">
         <h4>We don’t have enough data to show anything useful.</h4>
         <p>It usually takes about a week to populate this graph.</p>
      </div>
   </div>
</div> -->
<div class="blankslate blankslate-spacious blankslate-large" ng-if="availableOrders.length == 0 && !isLoaddingOrder">
   <svg aria-hidden="true" class="octicon octicon-issue-opened blankslate-icon" height="40" version="1.1" viewBox="0 0 14 16" width="35">
      <path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path>
   </svg>
   <h3>Không có Order nào khả dụng!</h3>
   <!-- <p>Issues are used to track todos, bugs, feature requests, and more. As issues are created, they’ll appear here in a searchable and filterable list. To get started, you should</p> -->
</div>
<div id="options_bucket" ng-if="availableOrders.length > 0">
   <div class="Subhead">
      <h2 class="Subhead-heading">List Orders</h2>
      <div class="">
         <div class="breadcrumb">
         </div>
      </div>
   </div>
   <!-- Filter -->
   <div class="subnav" data-pjax="">
      <div class="float-left subnav-spacer-right" role="search">
         <div class="float-left select-menu js-menu-container js-select-menu subnav-search-context">
            <button class="btn select-menu-button js-menu-target" type="button" aria-haspopup="true" aria-expanded="false">
            Filters
            </button>
            <div class="select-menu-modal-holder js-menu-content js-navigation-container">
               <div class="select-menu-modal">
                  <div class="select-menu-list">
                     <a class="select-menu-item js-navigation-item">
                        <div class="select-menu-item-text">
                           Tên page 1
                        </div>
                     </a>
                     <a class="select-menu-item js-navigation-item">
                        <div class="select-menu-item-text">
                           Tên page 2
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <!-- '"` --><!-- </textarea></xmp> -->
         <form accept-charset="UTF-8" class="subnav-search float-left" data-pjax="true" method="get">
            <input aria-label="Search all issues" class="form-control form-control subnav-search-input input-contrast" id="js-issues-search" name="q" placeholder="Nhập tên hoặc số điện thoại" type="text" ng-model="searchQuery.text" search-enter="searchOrder()">
            <svg aria-hidden="true" class="octicon octicon-search subnav-search-icon" height="16" version="1.1" viewBox="0 0 16 16" width="16">
               <path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"></path>
            </svg>
         </form>
            
      </div>
      <a ng-click="testPush()" class="btn btn-primary float-right" data-hotkey="c" tabindex="0" data-ga-click="Repository, go to compare view, location:pull request list; text:New pull request">
         Tương tác hàng loạt
         </a>
   </div>
   <!-- /Filter -->
   <!-- Table -->
   <div>
      <!-- Table header -->
      <div class="table-list-header" id="js-issues-toolbar">
         <div class="table-list-filters">
            <div class="table-list-header-toggle states float-left pl-3">
               <a class="btn-link selected">
               <!-- <input type="checkbox" checked="checked"> -->
               Danh sách Orders đã tạo
               </a>
            </div>
            
         </div>
      </div>
      <!-- /Table header -->
      <div ng-include="'src/admin/pages/orders/list/widgets/table.html'"></div>
   </div>
   <!-- /Table -->
</div>